<section role="main" class="container main-container">
    <div class="row">
        <div class="@ViewHelpers.GetColumnClasses(ViewBag)">
            <h1>
                Health probe
            </h1>
            <p>
                Gallery is available.
            </p>
        </div>
    </div>
</section>
