@model LinkOrCreateViewModel
@{
    ViewBag.Title = "LinkOrCreateUser";
}

<h2>Do we know you?</h2>
<p>Do you already have a NuGet.org account? If so, please log in with your username and password below.</p>