@model SignInRequest
@{
    ViewBag.Title = "Log On";
}

<h1>Log On</h1>

<p>
    Don't have an account yet? <a href="@Url.Action(MVC.Users.Register())">Register now.</a>
</p>

@Html.Partial("_LoginPartial", Model)