/*
Theme: Nuget Gallery

Based on: Orchard Gallery
Author: NimblePros – http://www.NimblePros.com
Copyright: 2010, NimblePros. All Rights Reserved
*/


/*  Color Palette
**************************************************************

Background: #f6f6f6
Borders: #ddd
Text: #333
Links: #0071BC
Accent Colors:  
    #52a4ca (bright blue)
    #4b4b54 (dark grey)
    #e4f1f7 (light blue)
*/


/* General
***************************************************************/
body {
    color: #333; 
    background:url('../Content/Images/headerbackground.png') repeat-x top left #fff;
}

h1 { font-size: 2.666em; } /* 32px */
h2 { font-size: 2em; } /* 24px */
h4 { font-size: 1.6em; }

p  { margin: 0 0 1em; }


#layout-wrapper { 
    background: inherit;
    background-image:none;
    background:url('../Content/Images/headerbackground.png') repeat-x top left #fff;
}

.displayResults {
    padding: 10px 0 5px;
}

#layout-main {
    background:#fff;
    border-top: 6px solid #e4f1f7;
    overflow:auto;
    padding: 24px 56px 101px; /*bottom padding must be same height as the footer - added 1px for the top border */
    width: auto;
}
#layout-after-main { clear:both; }
#layout-tripel { padding: 0 0 20px 0; clear:both; }

.zone-content section { margin-left: 0px; }
.zone-content > section > header {
    border-bottom:1px solid #ddd;
}

.zone-footer {
    color: #fff;
    *margin-top: 0px !important; /* IE7 and below*/
}
#footer-quad > div { margin: 0px; }

.message { margin: 0 0 20px; }

.warning { color: #c00;}

/* Home Page
***************************************************************/
.hero {
    background:#f6fbfe;
    border:1px solid #e4f1f7;
    min-height:240px;
    margin:16px;
    padding:16px;
    font-size:1.2em;

    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

.install {
    background:url('../Content/Images/download.png') no-repeat 24px 12px #4687ad;
    border:1px solid #405f71;
    color:#f3f4fc;
    font-size:24px;
    padding:8px 18px 10px 18px;
    margin:24px;
    width:200px;
    cursor:pointer;
    text-align:center;
    display:block;

    
    /*CSS3 properties*/
    text-shadow: 0px -1px 0px rgba(0, 0, 0 ,.8);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#4687ad',  endColorstr='#366581');
    background: url('../Content/Images/download.png') no-repeat 24px 12px, -webkit-gradient(linear, left top, left bottom, from(#4687ad), to(#366581));
    background: url('../Content/Images/download.png') no-repeat 24px 12px, -moz-linear-gradient(top , #4687ad, #366581);
    
    box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 1.0), 1px 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 1.0), 1px 1px 1px rgba(0, 0, 0, 0.3); 
    -moz-box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 1.0), 1px 1px 1px rgba(0, 0, 0, 0.3);

    
     border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}


.install:hover {
    text-decoration:none; 
    border:1px solid #263e4c;
    
    /*CSS3 properties*/
    text-shadow: 0px -1px 0px rgba(0, 0, 0 ,.8);   
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#64a3c8',  endColorstr='#1d4760');
    background: url('../Content/Images/download.png') no-repeat 24px 12px, -webkit-gradient(linear, 0 0, 0 100%, from(#64a3c8), to(#1d4760));    
    background: url('../Content/Images/download.png') no-repeat 24px 12px, -moz-linear-gradient(top, #64a3c8, #1d4760);
}


/* Package Detail Page
***************************************************************/
.title h2 {
    display: inline;
    font-size: 3em;
}
.title h3 {
    display: inline;
    color: #90856c;
    font-size: 2em;
    margin-left: 10px;
}
.description {
    margin-top: 15px;
    font-size: 1.2em;
    color: #5e543e;
}

.command {
       font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
       font-size: 1.2em;
       line-height: 1.3em;
       margin: 8px;
       display: block;
}

table.packages tbody > tr.recommended > td.version {
    background: url(../Content/Images/recommendedSmall.png) 5px 5px no-repeat;
}

/* Buttons
**************************************************************/

a.silverButton, a.silverButtonBig, input[type=submit].silver {
    background: #FFFFFF; /* old browsers */
    color: #4a4a4a;
    font-size: 1.2em;
    line-height: 1.7em;
    text-align: center;
    min-width: 9.33em;
    border: 1px solid #bbb;
    padding:.2em 2em;
    margin: .4em 0;
    /*display: inline;*/
   /* float: right; */
                 
}

a.silverButtonBig {
    font-size: 1.5em; /* 18px */
    /*width: 9.33em;*/
}

a.silverButton, a.silverButtonBig, input[type=submit].silver {
/*CSS3 properties*/
        text-shadow: 1px 1px 0 #fff;
        filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#f5f5f5',  endColorstr='#c3c3c3');
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#c3c3c3));
        background: -moz-linear-gradient(top, #f5f5f5, #c3c3c3);
        box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 1.0), 1px 1px 1px rgba(102, 102, 102, 0.3);
        -webkit-box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 1.0), 1px 1px 1px rgba(102, 102, 102, 0.3); 
        -moz-box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 1.0), 1px 1px 1px rgba(102, 102, 102, 0.3);
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
}

a.silverButtonBig {
    cursor: pointer;
}

a.silverButton:hover, a.silverButtonBig:hover, input[type=submit].silver:hover {
    background: #D5D5D5; /* old browsers */
    text-decoration: none;
    background: -moz-linear-gradient(top, #D5D5D5 0%, #FFFFFF 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D5D5D5), color-stop(100%,#FFFFFF)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D5D5D5', endColorstr='#FFFFFF',GradientType=0 ); /* ie */
}

a.greenButton {
    background:#4687ad; /* old browsers */
    border:1px solid #405f71;
    color: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em; /* 18px */
    line-height: 1.7em;
    text-align: center;
    cursor: pointer;
    display: block;
    float: left;
    margin: 6px 12px 0 0;
    padding: 3px 40px;
    cursor: pointer;
    letter-spacing:0em;

        
    /*CSS3 properties*/
    text-shadow: 1px 1px 0 #666;
    background:-moz-linear-gradient(top , #4687AD, #366581);
    background: -webkit-gradient(linear, left top, left bottom, from(#4687AD), to(#366581));
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#4687AD',  endColorstr='#366581');
    box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 1.0), 1px 1px 1px rgba(102, 102, 102, 0.3);
    -webkit-box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 1.0), 1px 1px 1px rgba(102, 102, 102, 0.3); 
    -moz-box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 1.0), 1px 1px 1px rgba(102, 102, 102, 0.3);
     border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
a.greenButton:hover {
    background: #307A25; /* old browsers */
    background: -moz-linear-gradient(top, #307A25 0%, #39922C 50%, #2C9E1B 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#307A25), color-stop(50%,#39922C), color-stop(100%,#2C9E1B)); /* webkit */
    text-decoration: none;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#307A25', endColorstr='#2C9E1B',GradientType=0 ); /* ie */
}

/********** Form Buttons ************/
input[type=submit], button[type=submit], input[type=button] {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em; /* 18px */
    margin-top: 6px;
    background:#4687ad;
    border:1px solid #405f71;
    color:#fff;
    /*font-weight: bold;*/
    padding: 3px 30px;
    cursor: pointer;
    letter-spacing:0em;
    clear: both;
    /*CSS3 properties*/
    text-shadow: 1px 1px 0 #666;
    background:-moz-linear-gradient(top , #4687AD, #366581);
    background: -webkit-gradient(linear, left top, left bottom, from(#4687AD), to(#366581));
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#4687AD',  endColorstr='#366581');
    box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 1.0), 1px 1px 1px rgba(102, 102, 102, 0.3);
    -webkit-box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 1.0), 1px 1px 1px rgba(102, 102, 102, 0.3); 
    -moz-box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 1.0), 1px 1px 1px rgba(102, 102, 102, 0.3);
     border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
input[type=submit]:hover, button[type=submit]:hover, input[type=button]:hover {
    /* old browsers */
    background-position: 0% 0%;
    background-image: -moz-linear-gradient(
        center bottom,
        #54A3CB 32%,
        #316880 100%
    ) !important;
    background-color: #316880;
    background-repeat: repeat;
    background-attachment: scroll;
}

/* Site Header
**************************************************************/
    
#branding a {
    background-image:url('../Content/Images/nugetlogo.png');
    width: 345px;
    height: 75px;
    margin: 14px 0 7px;
    float: left;
    display: block;
    text-indent: -9999px;
    float: left;
}

.user-actions a, #socialLinks a, .user-display a, .user-display .welcome a {
    color:#fff;
}

.user-display .welcome {
    color: #fff;
    background-image: url(../Content/Images/userIconWhite.png);
}   

a.register {
    color: #fff;
    text-transform: none;
    margin-left: 10px;
    font-family: "Segoe Print",Tahoma,Geneva,Verdana,sans-serif;
}

/* Main Navigation
**************************************************************/

#layout-navigation nav 
{
    background:url('../Content/Images/navbackground.png') repeat-x top left;
    background-color: #4b4c55;
}

#layout-navigation nav ul li.current a {
    background-color: #e4f1f7;
    border: 1px solid #ebf2f5;
    border-top: 1px solid #fff;
    border-bottom:none;
    color: #195670;
    height:46px;
    line-height:44px;
    position: relative;
    text-decoration: none;
    top:-4px;
    /*CSS3 properties*/      
    -moz-border-radius-topleft:  4px;  /* Firefox up to version 3.6 */
    -webkit-border-top-left-radius: 4px;  /* Safari, Chrome (before WebKit version 533) */
    -border-top-left-radius: 4px; /* Firefox 4; browsers with CSS3 support */
    -moz-border-radius-topright:  4px;  /* Firefox up to version 3.6 */
    -webkit-border-top-right-radius: 4px;  /* Safari, Chrome (before WebKit version 533) */
    -border-top-right-radius: 4px; /* Firefox 4; browsers with CSS3 support */
} 

#layout-navigation nav ul li a:hover {
    height:46px;
    line-height:44px;
    position: relative;
    text-decoration: none;
    top:-4px;
    /*CSS3 properties*/      
    -moz-border-radius-topleft:  4px;  /* Firefox up to version 3.6 */
    -webkit-border-top-left-radius: 4px;  /* Safari, Chrome (before WebKit version 533) */
    -border-top-left-radius: 4px; /* Firefox 4; browsers with CSS3 support */
    -moz-border-radius-topright:  4px;  /* Firefox up to version 3.6 */
    -webkit-border-top-right-radius: 4px;  /* Safari, Chrome (before WebKit version 533) */
    -border-top-right-radius: 4px; /* Firefox 4; browsers with CSS3 support */
} 

#layout-navigation nav ul a {
    font-size: 1.3em;
}

#layout-navigation nav ul a:hover {
    background-color: #3c3d44;
}

/* Search
**************************************************************/
#search {
    height: 31px;
    margin: 4px 0 0 0;
    display: inline;
    float: right;
}

#search div {
    border-top: 1px solid #999;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: inline;
    background: #fff;
    padding: 7px 10px 5px;
    *padding-top: 4px; /* IE6 */
    padding: 6px 10px\0/; /* IE7+ */
}

#search input[type=text] {
    color: #7F8C7D;
    display: inline;
    border: none !important;
    width: 200px;
    background: none !important;
    padding: 0 !important;
}

#search input[type=submit] {
    background: url(../Content/Images/searchButton.png) no-repeat !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border: none !important;
    cursor: pointer;
    font-size: 1em !important;
    line-height: 2.3em !important;
    height: 34px;
    left: -2px;
    top: 2px;
    padding: 0;
    position: relative;
    text-indent: -9999px;
    width: 34px;
    margin-top: 0px !important;
    filter: none !important; /* for IE */
}

a.search-category {
    background: url(../Content/Images/arrowDown.png);
    background-repeat: no-repeat;
    background-position: 100% 6px;
    color: #999;
    text-decoration: none;
    display: inline-block;
    width: 124px;
}
    a.search-category:hover {
        color: #999;
        text-decoration: none;
    }
    a.search-category span {
    border-left: 1px solid #999999;
    display: block;
    height: 17px;
    line-height: 16px;
    overflow: hidden;
    padding: 0 20px 0 10px;
}
#search>div {
    position: relative;
}
#search #drop-down {
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #ccc;
    position: absolute;
    left: 290px !important;
    top: 32px !important;
    width: 174px !important;
    padding: 8px 3px;
    display: none;
    z-index: 999 !important;
    -moz-box-shadow: 2px 3px 2px #999;
    -webkit-box-shadow:2px 3px 2px #999;
    box-shadow:2px 3px 2px #999;
    max-height: 220px;
    overflow-y: auto;
    overflow-x: hidden;
    *margin-top: 6px; /* IE6 */
}
    #drop-down li {
        font-size: .8em !important; /* 12px */
    }
    #drop-down li a
    {
        display: block;
        padding: 8px;
    }
    #drop-down li:hover  {
        background: #E1E6D5
    }
    #drop-down li.current {
        background: #E1E6D5;
    }

/* Page Toolbar
**************************************************************/

#currentPageToolbar {
    background: #e4f1f7;
    font-size: 12px;
    padding:13px 54px 3px;
}

#sort {
    width: auto;
}    

/* Content
**************************************************************/

#content { margin: 0; }

.zone-content section header h2 { margin: 0 0 10px !important; }

.aside-1 #layout-content { width: 650px; }
.aside-1 .aside-first a { color: #52a4ca; }
.aside-1 .aside-first div p { padding: 10px 0; }

.tripel-123 #layout-tripel > div { width: 292px; }

.zone-content > section > header + section.add-new { background-color: #e4f1f7; }

p.author a { color: #0071BC !important; }

span.latest {background-image: url("../Content/Images/recommended.png");}

/* Package Lists & Details
**************************************************************/

.packageItem {
    border-bottom: 1px solid #ddd;
    padding: 10px 5px 30px 5px;
    min-height: 80px;
}

.thumbnail {
    margin:0;
    width: 50px;
    height: 50px;
    border: 0 none;
}

.package header {
    margin-left: 75px;
}

.packageItem header h3 {
    float: none;
    display: block;
}

.packageItem header h3 a {
    color: #0071bc;
}

.packageItem .detail .description {
    margin-top: 0;
}

.package .detail {
    clear: right;
    margin-left: 75px;
}

.details-header {
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
table.packages {
    border-top: none;
    border-bottom: none;
}
table.packages thead tr.header {
    background-color: #fff;
}
table.packages thead tr th {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

/* Forms
**************************************************************/

#form { margin-bottom:20px; }
#form h3 { color:#52a4ca; }
#form label { color:#52a4ca; }
#sequence li { background-image: none !important; }
#form input.required[type="text"], #form input.required[type="password"], textarea.required, #form input[type="text"], #form input[type="password"], #form textarea, #form div input[type="url"], #form .longRequired, .required { border-left: 5px solid #52a4ca !important; }
#sequence a span, #sequence span { color:#52a4ca; }
#form div.selected { background-color: #e4f1f7; }
#sequence a { color: #52a4ca; }
#sequence a:hover { color: #0071BC !important; }
span.latest span.latestHover { background-color: #e4f1f7; }
#form .longRequired, #form textarea.longRequired, #form .long { width: 400px !important;}
#externalPackageForm aside { width: 270px !important; }
#form div.packageID { width: 330px; float: left; }
#form div.version { width: 76px; float: left; clear: none; }
#form div.version input#PackageVersion { width: 76px; }

/* Footer
**************************************************************/

footer#footer {
    margin: 0 auto;
    width:1000px;
    padding-top: 0;
}

#layout-footer {
    background:#e4f1f7;
    border-top: 1px solid #d3e7fe;   
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    margin-top: -101px; /* negative value of footer height - added 1px for the top border */
    height: 100px;
    clear: both;
    width: auto;
    font-size: inherit;
}

#layout-footer a {
    color: #333;
    padding-bottom: 2px;
}

#layout-footer h5.logo { padding: 0 35px 0 20px; }
    #layout-footer h5.logo a { background-image: url('../Content/Images/nugetLogoFooter.png'); }
#layout-footer h6 { padding-bottom: 5px; }

ul.footer-links {
    margin: 0; 
    font-size: 1.2em; 
    width: 400px;
}

ul.footer-links li {
    display:block; 
    float:left;
}

.credits  {
    text-align: center; 
    padding: 0; 
    color:#b3b3b3;
}
    .credits a { color:#b3b3b3 !important; }
    
    
 /* MIX
***************************************************************/

.MIX-hero {
    color:#494a52;
    background:url("../Content/Images/hero.png") no-repeat 448px 18px #f6f6f6;
    height:325px;
    margin:12px -48px 18px -48px;
    padding:18px 12px;
    border:1px solid #dedede;
    
    /*CSS3 properties*/
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
     border-radius: 2px;
}

.MIX-hero-text {
    margin:0 0 0 8px;
    width:410px;
}

.MIX-hero-text h2 {
    color:#494a52;
    margin:6px 0 24px 0;
}


.MIX-secondary {
    margin:18px -48px;	
}

article.policies 
{
    padding: 20px 0;
    min-height: 2150px;
}

article.privacy 
{
    min-height: 2450px;
}
.commandWrapper {
       background:#d6d6d6;
       border:0px solid #fff;
       padding:4px;
       margin: 36px 0;
       
       
       filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#d6d6d6',  endColorstr='#505050');
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d6d6d6), to(#505050));
    background: -moz-linear-gradient(top, #d6d6d6, #505050);

       
       border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;

}

.commandPrompt {
       background:#000;
       border:1px solid #c4c4c4;

       /*CSS3 properties*/
       text-shadow: 1px 1px 1px rgba(0, 0, 0 ,1.0);

    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#5e5e5e',  endColorstr='#000');
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#5e5e5e), to(#000));
    background: -moz-linear-gradient(top, #5e5e5e, #000);
        
    
     box-shadow: inset 6px 6px 14px rgba(0, 0, 0, 0.6), 1px 1px 4px rgba(102, 102, 102, 1.0);
     -webkit-box-shadow: inset 6px 6px 14px rgba(0, 0, 0, 0.6), 1px 1px 4px rgba(102, 102, 102, 1.0); 
     -moz-box-shadow: inset 6px 6px 14px rgba(0, 0, 0, 0.6), 1px 1px 4px rgba(102, 102, 102, 1.0);


       border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.command {
       color:#72eb18; /*Green*/
       color:#e2e2e2;
       font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
       font-size:24px;
       line-height:24px;
       margin:24px 8px;
}

.package-form ul {
    font-size:larger;
}

.package-form strong {
    color:#52a4ca;
}

.package-form .note {
    color:#A8A8A8;
}

.message-Warning .note {
    text-align: left;
    font-weight: normal;
    font-size: 0.8em;
    padding: 0 8px;
}

div.profile ul {
    margin-top: 10px;
}

body header.profile {
    border-bottom: none;
    margin-bottom: 20px;
}

header.profile img.gravatar {
    border: solid 1px #fff;
    outline: solid 8px #333;
    display: inline-block;
    margin-left: 8px;
}

header.profile h2 {
    display: inline-block;
    font-size: 4em;
    padding: 0 20px;
    position: relative;
    vertical-align: top;
}

div.profile .packageItem {
    padding-bottom: 5px;
    min-height: 20px;
}

div.owner-gravatar {
    display: inline-block;
    padding-right: 8px;
    text-align: center;
}

label div.owner-gravatar {
    text-align: left;
}

div.packages div.owner-gravatar {
    padding-right: 4px;
}

    div.owner-gravatar span.owner-name {
        display: block;
    }
    
    label div.owner-gravatar {
        vertical-align: bottom;
        margin-left: 4px;
        padding: 0;
    }
    
    label div.owner-gravatar a img {
        display: inline;
        margin: 0 !important;
        padding: 0;
    }
    
    label div.owner-gravatar span.owner-name {
        display: inline;
        font-size: 1.4em;
    }
 
 /* hack to get around some wack styles */
 html .sane-form .field-validation-error {
     color: #c00;
     display: block;
     padding-bottom: 10px;
 }