/*
Theme: Orchard Theme
Author: NimblePros – http://www.NimblePros.com
Copyright: 2010, NimblePros. All Rights Reserved
*/


/*  Color Palette
**************************************************************

Background: #fff
Borders: #ccc
Text: #666
Main Accent: #39922C
Links: #0071BC
*/

#currentPageToolbar {
    background-color: #E1E6D5;
    color: #4D4D4D;
    font-size: 1.25em; /* 15px */
    padding: 15px 30px 9px;
    min-height: 32px;
}

#sort {
    display: inline;
    width: 390px; /* Note: Anything lower than 390px will cause wrapping in Chrome */
    float: right;
}
#sort > *, #search > * {
    vertical-align: middle;
}

#currentPageToolbar select {
    font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #808080;
    padding: 5px;
    font-size: 1em;
}
#currentPageToolbar label {
    margin: 0 5px 0 20px;
    display: inline;
}
#currentPageToolbar a.themeViewButton {
    height: 26px;
    position: relative;
    top: 6px;
    width: 26px;
}