<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="NUGET_GALLERY_ENV" value="preview" />
    <add key="NUGET_GALLERY_MAIN_STORAGE" value="" />
    <add key="NUGET_GALLERY_BACKUP_SOURCE_STORAGE" value="" />
    <add key="NUGET_GALLERY_DIAGNOSTICS_STORAGE" value="" />
    <add key="NUGET_GALLERY_BACKUP_SOURCE_CONNECTION_STRING" value="" />
    <add key="NUGET_GALLERY_MAIN_CONNECTION_STRING" value="" />
    <add key="NUGET_WAREHOUSE_SQL_AZURE_CONNECTION_STRING" value="" />
    <add key="NUGET_WAREHOUSE_REPORTS_STORAGE" value="" />
  </appSettings>
</configuration>