<script src="~/Scripts/accordion.js" type="text/javascript"></script>
   <p style="font-family: arial; color: gray; font-size: 15px; font-style: italic"><small>*Debugging info for the last 24 hours</small></p>
 <ul class="accordion dark" data-role="accordion">
        <li class="active">
            <a href="#"> Web Server </a>
            <div class="fg-color-darken">
                 <table class="hovered">
        <tbody>
            <tr>
                <th>Error
                </th>
                <th>Count
                </th>
                <th>
                    Error code
                </th>
                <th>Exception</th>
                <th>Last reported
                </th>
            </tr>                        
        </tbody>
    </table>

            
                <div>   
    <h5>Other links</h5>
      <ul class="listview">
        <li>
            <div class="icon">
                <img src="images/word2013icon.png" />
            </div>
            <div class="data">
                <h4>Recent IIS Log</h4>             
                <p>text</p>
            </div>
        </li>
            <li>
            <div class="icon">
                <img src="images/word2013icon.png" />
            </div>
            <div class="data">
                <h4>Elmah Log</h4>             
                <p>text</p>
            </div>
        </li>
    </ul>
</div> 
            </div>
        </li>
        <li class="Worker">
            <a href="#"> Worker </a>
            <div class="fg-color-darken"> 
             <table class="hovered">
        <tbody>
            <tr>
                <th>Job
                </th>
                <th>Total attempts
                </th>
                <th>Details
                </th>
            </tr>
        </tbody>
    </table>
                 </div>
        </li>        
        <li>
            <a href="#"> DataBase </a>   

            <div class="fg-color-darken"> 
             <table class="hovered">
        <tbody>
            <tr>
                <th>Event type  
                </th>
                <th>Details
                </th>  
                <th>
                    Last reported
                </th>             
            </tr>
          
        </tbody>
    </table>
                 </div>
        </li>
    
    </ul>
   