<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <!--NuGet.Core, Version=2.5.40328.9450, Culture=neutral, PublicKeyToken=31bf3856ad364e35 -->
        <assemblyIdentity name="NuGet.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.1.0" newVersion="2.2.31210.9045" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>