@{
    Page.Title = "Invalid Cookies";
    Response.StatusCode = 400;
    Layout = "~/Views/Shared/Gallery/Layout.cshtml";
}

@ViewHelpers.ErrorPage(@<text>
    <p>
        The cookies in your request were invalid. This is likely because you have disabled Cookies in your browser.
        Please enable cookies in your browser settings and try your request again.
    </p>
</text>, Url, Html, "Invalid cookies!")