@{
    Page.Title = "Invalid Request";
    Response.StatusCode = 400;
}

<div class="error-page">
    <h1>Error: Invalid Request</h1>
    <p>We can't process your request because your browser sent an invalid request. This is likely because you have disabled Cookies in your browser.
        Please enable cookies in your browser settings and try your request again.</p>

    <h2>What now?</h2>
    <p><a href="/">Return to the home page.</a></p>
</div>