@{
    Page.Title = "Internal Server Error";
    Response.StatusCode = 500;
    Layout = "~/Views/Shared/Gallery/Layout.cshtml";
}

@ViewHelpers.ErrorPage(@<text>
<p>You might be here because:</p>
<ul>
    <li>There is an error on our server and the server is &quot;givin' her all she's got, captain.&quot; </li>
    <li>The system is down, the system is down, the system is down.</li>
    <li>Our name is smalls.</li>
</ul>
</text>, Url, Html, "Server error!")