@{
    Page.Title = "Page Not Found";
    var errorPath = string.Empty;

    if (Request.QueryString["aspxerrorpath"] != null)
    {
        errorPath = Request.QueryString["aspxerrorpath"];
    }
    else
    {
        errorPath = Request.RawUrl;
    }

    try
    {
        errorPath = Path.GetFileNameWithoutExtension(errorPath);
    }
    catch (ArgumentException)
    {
        // seems we can't format the error path nicely...
        errorPath = string.Empty;
    }
    Response.StatusCode = 404;
    Layout = "~/Views/Shared/Gallery/Layout.cshtml";
}

@ViewHelpers.ErrorPage(@<text>
<p>You might be here because:</p>
<ul>
    <li>The page you are looking for does not exist anymore.</li>
    <li>We moved the page that you are looking for, sorry!</li>
    <li>You know how to hack URLs and you're trying to find something.</li>
    <li>We just plain suck and messed something up.</li>
</ul>
</text>, Url, Html, "Page not found!")