@{
    Page.Title = "Please try again later! (Read-only)";
    Response.StatusCode = 503;
}

<div class="error-page">
    <h1>503 : Please try again later! (Read-only)</h1>
    <p>We can't process the request right now because the site is temporarily in read-only-mode. We
        understand your disappointment - but look on the bright side! This way the site is still 
        available for package searching and downloading while we address temporary technical problems.</p>

    <p>You can retry whatever you just tried to do in a few hours - hopefully we'll be fully operational by then! 
        While you're waiting why not follow <a href="http://twitter.com/nuget">@@nuget</a> on Twitter for status updates?</p>

    <h2>What now?</h2>
    <p><a href="/">Return to the home page.</a></p>
</div>