<html>
<head><title>Upload Service</title></head>
<body>
    <div>
        <h2>Add a nupkg to the catalog</h2>
        <form name="uploadPackage" method="post" enctype="multipart/form-data" action="/api/Packages">
            <div>
                <label for="image1">Nupkg</label>
                <input name="image1" type="file" />
            </div>
            <div>
                <input type="submit" value="Submit" />
            </div>
        </form>
    </div>
</body>
</html>