[*.cs]

# Suppress performance, usage, naming, maintainability, style diagnostics.
dotnet_analyzer_diagnostic.category-design.severity = none
dotnet_analyzer_diagnostic.category-globalization.severity = none
dotnet_analyzer_diagnostic.category-naming.severity = none
dotnet_analyzer_diagnostic.category-performance.severity = none
dotnet_analyzer_diagnostic.category-reliability.severity = none
dotnet_analyzer_diagnostic.category-security.severity = warning
dotnet_analyzer_diagnostic.category-usage.severity = none
dotnet_analyzer_diagnostic.category-Maintainability.severity = none
dotnet_analyzer_diagnostic.category-Style.severity = none  