<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <add key="nuget-build" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/nuget-build/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="NuGet.org">
      <package pattern="Antlr" />
      <package pattern="Autofac.*" />
      <package pattern="Autofac" />
      <package pattern="Azure.*" />
      <package pattern="Castle.Core" />
      <package pattern="CsvHelper" />
      <package pattern="Dapper.StrongName" />
      <package pattern="dotNetRDF" />
      <package pattern="EntityFramework" />
      <package pattern="envdte*" />
      <package pattern="FluentAssertions" />
      <package pattern="HtmlAgilityPack" />
      <package pattern="LibGit2Sharp.NativeBinaries" />
      <package pattern="LibGit2Sharp" />
      <package pattern="Lucene.Net.Contrib" />
      <package pattern="Lucene.Net" />
      <package pattern="Markdig.Signed" />
      <package pattern="MessagePack.Annotations" />
      <package pattern="MessagePack" />
      <package pattern="MicroBuild.Core" />
      <package pattern="Microsoft.*" />
      <package pattern="Mono.Posix.NETStandard" />
      <package pattern="Moq" />
      <package pattern="Nerdbank.Streams" />
      <package pattern="NETStandard.Library" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="NuGet.*" />
      <package pattern="Owin" />
      <package pattern="Polly.Extensions.Http" />
      <package pattern="Polly" />
      <package pattern="Portable.BouncyCastle" />
      <package pattern="runtime.*" />
      <package pattern="Serilog.*" />
      <package pattern="Serilog" />
      <package pattern="SerilogTraceListener" />
      <package pattern="SharpZipLib" />
      <package pattern="stdole" />
      <package pattern="StreamJsonRpc" />
      <package pattern="System.*" />
      <package pattern="UAParser" />
      <package pattern="VDS.Common" />
      <package pattern="VSLangProj*" />
      <package pattern="WebGrease" />
      <package pattern="WindowsAzure.*" />
      <package pattern="xunit.*" />
      <package pattern="xunit" />
    </packageSource>
    <packageSource key="nuget-build">
      <package pattern="NuGet.Jobs.*" />
      <package pattern="NuGet.Services.*" />
      <package pattern="NuGet.StrongName.*" />
      <package pattern="NuGetGallery.Core" />
      <package pattern="Test.Utility" />
    </packageSource>
  </packageSourceMapping>
</configuration>