<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositorypath" value=".\packages" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="nuget-build" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/nuget-build/nuget/v3/index.json" />
  </packageSources>
  <packageNamespaces>
    <packageSource key="nuget">
      <namespace id="Antlr" />
      <namespace id="Autofac" />
      <namespace id="Autofac.*" />
      <namespace id="Castle.Core" />
      <namespace id="CommonMark.NET" />
      <namespace id="CsvHelper" />
      <namespace id="d3" />
      <namespace id="Dapper.StrongName" />
      <namespace id="EntityFramework" />
      <namespace id="Knapcode.MiniZip" />
      <namespace id="Lucene.Net" />
      <namespace id="Lucene.Net.Contrib" />
      <namespace id="Markdig.Signed" />
      <namespace id="MicroBuild.Core" />
      <namespace id="Microsoft.*" />
      <namespace id="Modernizr" />
      <namespace id="Moment.js" />
      <namespace id="Moq" />
      <namespace id="MvcTreeView" />
      <namespace id="NETStandard.Library" />
      <namespace id="Newtonsoft.Json" />
      <namespace id="NuGet.*" />
      <namespace id="Owin" />
      <namespace id="Polly" />
      <namespace id="Polly.Extensions.Http" />
      <namespace id="RazorEngine" />
      <namespace id="RouteMagic" />
      <namespace id="Runtime.*" />
      <namespace id="Serilog" />
      <namespace id="Serilog.*" />
      <namespace id="SerilogTraceListener" />
      <namespace id="SharpZipLib" />
      <namespace id="Strathweb.CacheOutput.WebApi2.StrongName" />
      <namespace id="System.*" />
      <namespace id="WebActivatorEx" />
      <namespace id="WebGrease" />
      <namespace id="WindowsAzure.*" />
      <namespace id="xunit" />
      <namespace id="xunit.*" />
    </packageSource>
    <packageSource key="nuget-build">
      <namespace id="Microsoft.AspNet.WebApi.MessageHandlers.Compression.Strongname" />
      <namespace id="NuGet.Jobs.*" />
      <namespace id="NuGet.Services.*" />
      <namespace id="NuGet.StrongName.*" />
      <namespace id="Strathweb.CacheOutput.WebApi2.StrongName" />
    </packageSource>
  </packageNamespaces>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>