<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <add key="nuget-build" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/nuget-build/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="NuGet.org">
      <package pattern="Azure.*" />
      <package pattern="Castle.Core" />
      <package pattern="EntityFramework" />
      <package pattern="FluentAssertions" />
      <package pattern="Markdig.Signed" />
      <package pattern="MicroBuild.Core" />
      <package pattern="Microsoft.*" />
      <package pattern="Moq" />
      <package pattern="NETStandard.Library" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="NuGet.*" />
      <package pattern="Owin" />
      <package pattern="runtime.*" />
      <package pattern="Serilog" />
      <package pattern="Serilog.Enrichers.Environment" />
      <package pattern="Serilog.Enrichers.Process" />
      <package pattern="Serilog.Extensions.Logging" />
      <package pattern="Serilog.Sinks.ApplicationInsights" />
      <package pattern="Serilog.Sinks.Console" />
      <package pattern="SerilogTraceListener" />
      <package pattern="System.*" />
      <package pattern="xunit" />
      <package pattern="xunit.*" />
    </packageSource>
    <packageSource key="nuget-build">
      <package pattern="NuGet.StrongName.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>