@model EmailConfirmationModel

<h1 class="page-heading">Confirm Registration</h1>

@if (Model.SuccessfulConfirmation) {
    <p>
        @if (Model.ConfirmingNewAccount) {
            @: Account registration completed!
        }
        else {
            @: Email address change confirmed!
        }
    </p>
    if (Model.ConfirmingNewAccount) {
        <p>
            Click on the Log On link to logon to the site.
        </p>
        <p>
            You may now upload packages and make your mark in 
            the community.
        </p>
    }
    else {
        <p>
            Your email address is now updated.
        </p>
    }
}

 else {
    <p class="message error">
        Could not confirm your email address.
    </p>
    <p>
        Make sure you clicked on the confirmation URL in the email we sent.
    </p>
}