@{
    ViewBag.Title = "Password Reset";
    Layout = "~/Views/Shared/TwoColumnLayout.cshtml";
}

@section LeftNav {
    <img src="@Links.Content.Images.userGraphic_png" alt="The unknown user image" />
}                

@section ContentHeader {
    <span class="right"><img src="@Links.Content.Images.required_png" alt="Required" /></span>
    <h2>Password Reset Instructions</h2>    
}

<div class="description">
    <p>
        We&#8217;ve sent an email 
        @if (!String.IsNullOrEmpty(ViewBag.Email)) {
            @:to @ViewBag.Email
        } 
        else {
            @:to you
        } 
        containing a temporary url that will allow you to reset your password for 
        the next @ViewBag.Expiration hours. 
    </p>
    <p>
        Please check your spam folder if you don&#8217;t receive the email within a 
        few minutes.
    </p>
</div>