@{
    Layout = "~/Views/Shared/TwoColumnLayout.cshtml";
}

@section LeftNav {
    <img src="@Links.Content.Images.newAccountGraphic_png" style="padding-left:50px" alt="New Account Image"/>
}

@section ContentHeader {
    <h2>Password changed!</h2>
}

<div class="description">
    <p>
        Don&#8217;t forget to use your new password the next time you 
        <a href="@Url.LogOn()">log on</a>. 
    </p>
</div>