<?xml version="1.0"?>
<!-- 
    The purpose of this file is to block access to the template files, that are not meant
    to be directly requested.
-->
<configuration>
  <system.web>
    <httpRuntime enableVersionHeader="false"/>
    <httpHandlers>
      <clear />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <clear />
      <add
          name="StaticFile"
          path="*" verb="*"
          modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule"
          resourceType="Either"
          requireAccess="Read" />
    </handlers>
  </system.webServer>
</configuration>