<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="https://preview.nuget.org/api/v2/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAzXtNnA8Zj0KSg1VdHhxLWgAAAAACAAAAAAADZgAAwAAAABAAAADYtMGXwWMFXcI70u97fWm0AAAAAASAAACgAAAAEAAAAGRjLXY5qc34LU8Om+/imkwoAAAA58PFuGmWj4Z5kbUTkhG1VtKA8Tyl0njH+l9hIt33hAXNvfnW4KRASxQAAAC6tPXNxXQvwbxLb+lO3oJ6alPUPw==" />
    <add key="https://nuget.org/api/v2/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAzXtNnA8Zj0KSg1VdHhxLWgAAAAACAAAAAAADZgAAwAAAABAAAAAnecFWdurONAadD2W6dODpAAAAAASAAACgAAAAEAAAAFBQ9x8oOgEIydKz8CzgsNkoAAAAwJbtQ9523kA/JoN8vacb6WW+2kX3TFABTXi2PCcWR0nvJGuD9QkWghQAAACR7ZRqjOMQ0dJ5lH3I5F5t+Twxkw==" />
  </apikeys>
</configuration>