<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <!--// The API key is part of the nuget.config file that is present under the solution dir.-->
    <add key="https://preview.nuget.org/api/v2/package/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAzXtNnA8Zj0KSg1VdHhxLWgAAAAACAAAAAAADZgAAwAAAABAAAADYtMGXwWMFXcI70u97fWm0AAAAAASAAACgAAAAEAAAAGRjLXY5qc34LU8Om+/imkwoAAAA58PFuGmWj4Z5kbUTkhG1VtKA8Tyl0njH+l9hIt33hAXNvfnW4KRASxQAAAC6tPXNxXQvwbxLb+lO3oJ6alPUPw==" />
    <add key="https://nuget.org/api/v2/package/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAzXtNnA8Zj0KSg1VdHhxLWgAAAAACAAAAAAADZgAAwAAAABAAAAAnecFWdurONAadD2W6dODpAAAAAASAAACgAAAAEAAAAFBQ9x8oOgEIydKz8CzgsNkoAAAAwJbtQ9523kA/JoN8vacb6WW+2kX3TFABTXi2PCcWR0nvJGuD9QkWghQAAACR7ZRqjOMQ0dJ5lH3I5F5t+Twxkw==" />
    <add key="https://staging.nuget.org/api/v2/package/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAzXtNnA8Zj0KSg1VdHhxLWgAAAAACAAAAAAADZgAAwAAAABAAAACubFlsnEyWWaZYUkc+y0m2AAAAAASAAACgAAAAEAAAAG4pv+STzbu901SHHvbFL3QoAAAApsX4P/G/lav2JzqigVdzVp9QC+5YMWZbm3dBk2dLZ9N//GC58WHmdBQAAAAmQiu8sWSGH1bm342FGRKfeuAtJg==" />
   <!-- <add key="http://nugetgallery-bvts.cloudapp.net/api/v2/package/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAzXtNnA8Zj0KSg1VdHhxLWgAAAAACAAAAAAADZgAAwAAAABAAAAB20+YKBBe7NjcC7mJ7L+nqAAAAAASAAACgAAAAEAAAAHklwMLSztBf70yrhBt1iU4oAAAAZzLRP1ATkZ82Qr5yCPNFOWhGmCSv4ecnxkNeYKSmOq38EYQ51b+qNhQAAAAwmRQSu+/HaGSlEsbKBLDZYjZuPg==" /> -->
    <add key="http://nugetgallery-bvts.cloudapp.net/api/v2/package/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAzXtNnA8Zj0KSg1VdHhxLWgAAAAACAAAAAAADZgAAwAAAABAAAAAmwwOKkaG+v9eLPPoKM6FUAAAAAASAAACgAAAAEAAAAEIbS59TQQWy9qE40Pc+sR0oAAAAH6HXMoKUDb6oVVWGRmX09/IwsXEFzw2I+YqA1ddYALlx5txkEjNexBQAAABaARGW2zDxZgM1WcEZC/L4bcc8Xw==" />
  </apikeys>
</configuration>