<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title></title>
  <style>
    /*$$STYLE$$*/
  </style>
</head>
<body>
  <div align="center">
    <table border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td align="center">
            <div style="font-size: 1px; overflow: hidden; max-width: 0; display: none; max-height: 0; opacity: 0;">NuGet Support On-Call Summary.</div>
            <div class="container" style="font-size: 14px; font-family: Segoe UI, Helvetica, Arial, sans-serif; background: #e8e8e8; color: #444444; padding-bottom: 10px; padding-top: 10px; padding-left: 10px; padding-right: 10px">
              <table cellspacing="0" cellpadding="0" width="100%" border="0">
                <tbody>
                  <tr>
                    <td style="background: #e8e8e8"></td>
                    <td style="background: #ffffff" width="660">
                      <table style="height: 0; width: 660px" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                          <tr>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                      <table style="min-width: 100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                          <tr>
                            <td>
                              <a href="https://www.nuget.org/Admin/SupportRequest" target="new" border="0">
                                <img style="max-width: 100%" alt="NuGet Support" src="https://www.nuget.org/Content/Logos/nugetlogo.png" width="228">
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td class="padding-meta" style="background: white; border-bottom: #e8e8e8 2px solid; padding-bottom: 30px; padding-top: 20px; padding-left: 40px; padding-right: 30px" valign="middle">
                              <table class="responsive-table" style="max-width: 600px" cellspacing="0" cellpadding="0" width="100%" border="0">
                                <tbody>
                                  <tr>
                                    <td>
                                      <table cellspacing="0" cellpadding="0" width="100%" border=0>
                                        <tbody>
                                          <tr>
                                            <td>
                                              <table>
                                                <tbody>
                                                  <tr>
                                                    <td class="mobile-center" style="font-size: 24px; font-family: Segoe UI, Helvetica, Arial, sans-serif; font-weight: 300; color: #444444; padding-bottom: 0; padding-top: 15px; padding-left: 0; line-height: 30px; padding-right: 0" align="left">
                                                      Your daily support on-call overview for $$REPORT_DATE$$
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td class="mobile-center" style="font-size: 16px; font-family: Segoe UI, Helvetica, Arial, sans-serif; COLOR: #444444; padding-bottom: 10px; padding-top: 10px; padding-left: 0; line-height: 25px; padding-right: 0" align="left">
                                                      The following overview provides a summary of your current on-call status for support requests.
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <br />
                          <section id="insights">
                            <div class="detail"></div>
                            <tr>
                              <td class="padding-meta" style="border-top: #e8e8e8 2px solid; background: #007acc; color: white; padding-bottom: 20px; padding-top: 30px; padding-left: 40px; padding-right: 30px" valign="middle">
                                <h2 class="mobile-center">New issues</h2>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <table class="info-table" style="font-size: 14px; font-family: Segoe UI, Helvetica, Arial, sans-serif; width: 100%" cellspacing="0" cellpadding="15" border="0">
                                  <thead>
                                    <tr>
                                      <th>From</th>
                                      <!--<th style="background: #f2f9ff" align="left"><a class="more-insight" href="">Support requests</a> </th>-->
                                      <th>Reason</th>
                                      <th colspan="2">Package</th>
                                    </tr>
                                  </thead>
                                  <tbody align="center">
                                    $$NEWISSUES$$
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td class="padding-meta" style="border-top: #e8e8e8 2px solid; background: #007acc; color: white; padding-bottom: 20px; padding-top: 30px; padding-left: 40px; padding-right: 30px" valign="middle">
                                <h2 class="mobile-center">Working</h2>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <table class="info-table" style="font-size: 14px; font-family: Segoe UI, Helvetica, Arial, sans-serif; width: 100%" cellspacing="0" cellpadding="15" border="0">
                                  <thead>
                                    <tr>
                                      <th>From</th>
                                      <!--<th style="background: #f2f9ff" align="left"><a class="more-insight" href="">Support requests</a> </th>-->
                                      <th>Reason</th>
                                      <th colspan="2">Package</th>
                                    </tr>
                                  </thead>
                                  <tbody align="center">
                                    $$WORKINGISSUES$$
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td class="padding-meta" style="border-top: #e8e8e8 2px solid; background: #007acc; color: white; padding-bottom: 20px; padding-top: 30px; padding-left: 40px; padding-right: 30px" valign="middle">
                                <h2 class="mobile-center">Waiting For Customer</h2>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <table class="info-table" style="font-size: 14px; font-family: Segoe UI, Helvetica, Arial, sans-serif; width: 100%" cellspacing="0" cellpadding="15" border="0">
                                  <thead>
                                    <tr>
                                      <th>From</th>
                                      <!--<th style="background: #f2f9ff" align="left"><a class="more-insight" href="">Support requests</a> </th>-->
                                      <th>Reason</th>
                                      <th colspan="2">Package</th>
                                    </tr>
                                  </thead>
                                  <tbody align="center">
                                    $$WAITINGFORCUSTOMERISSUES$$
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <div></div>
                          </section>
                        </tbody>
                      </table>
                    <td style="background: #e8e8e8"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        <tr></tr>
      </tbody>
    </table>
  </div>
</body>
</html>