<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AnglicanGeek.MarkdownMailer.StrongName" version="1.2.0" targetFramework="net46" />
  <package id="AnglicanGeek.WindowsAzure.ServiceRuntime" version="1.6" targetFramework="net46" />
  <package id="Antlr" version="3.4.1.9004" targetFramework="net46" />
  <package id="Autofac" version="3.5.2" targetFramework="net46" />
  <package id="Autofac.Mvc5" version="3.3.4" targetFramework="net46" />
  <package id="Autofac.Mvc5.Owin" version="3.1.0" targetFramework="net46" />
  <package id="Autofac.Owin" version="3.1.0" targetFramework="net46" />
  <package id="Autofac.WebApi2" version="3.4.0" targetFramework="net46" />
  <package id="CommonMark.NET" version="0.15.1" targetFramework="net46" />
  <package id="d3" version="3.0.2" targetFramework="net46" />
  <package id="DynamicData.EFCodeFirstProvider" version="0.3.0.0" targetFramework="net46" />
  <package id="elmah.corelibrary.strongname" version="1.2.2" targetFramework="net46" />
  <package id="elmah.sqlserver.strongname" version="1.2.2" targetFramework="net46" />
  <package id="elmah.strongname" version="1.2.2" targetFramework="net46" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net46" />
  <package id="FontAwesome" version="3.0.2.3" targetFramework="net46" />
  <package id="Hyak.Common" version="1.0.2" targetFramework="net46" />
  <package id="jQuery" version="1.11.0" targetFramework="net46" />
  <package id="jQuery.UI.Combined" version="1.10.3" targetFramework="net46" />
  <package id="jQuery.Validation" version="1.11.1" targetFramework="net46" />
  <package id="Knockout.Mapping" version="2.4.0" targetFramework="net46" />
  <package id="knockoutjs" version="2.2.1" targetFramework="net46" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net46" />
  <package id="Lucene.Net.Contrib" version="3.0.3" targetFramework="net46" />
  <package id="MarkdownSharp.StrongName" version="1.13.0" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights" version="2.2.0" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.0.6" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.2.0" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.2.0" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.TraceListener" version="2.2.0" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.2.0" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.2.0" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.2.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.DynamicData.EFProvider" version="6.0.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.EntityDataSource" version="6.0.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.Identity.Core" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.MessageHandlers.Compression" version="1.3.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.OData" version="5.5.1" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebHelpers" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages.Data" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.AspNetCore.Cryptography.KeyDerivation" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Azure.Common" version="2.0.4" targetFramework="net46" />
  <package id="Microsoft.Azure.Common.Dependencies" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Azure.KeyVault" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net46" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net46" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net46" />
  <package id="Microsoft.Bcl.Compression" version="3.9.85" targetFramework="net46" />
  <package id="Microsoft.Data.Edm" version="5.6.5-beta" targetFramework="net46" />
  <package id="Microsoft.Data.OData" version="5.6.5-beta" targetFramework="net46" />
  <package id="Microsoft.Data.Services" version="5.6.5-beta" targetFramework="net46" />
  <package id="Microsoft.Data.Services.Client" version="5.6.5-beta" targetFramework="net46" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Extensions.Logging" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.13.4" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Protocol.Extensions" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="2.0.30116.0" targetFramework="net46" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net46" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.MicrosoftAccount" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.OpenIdConnect" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net46" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net46" />
  <package id="Microsoft.Win32.Primitives" version="4.0.1" targetFramework="net46" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net46" />
  <package id="Modernizr" version="2.8.3" targetFramework="net46" />
  <package id="Moment.js" version="2.11.2" targetFramework="net46" />
  <package id="MvcTreeView" version="1.4" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="NuGet.Common" version="4.3.0-preview1-2524" targetFramework="net46" />
  <package id="NuGet.Configuration" version="4.3.0-preview1-2524" targetFramework="net46" />
  <package id="NuGet.Frameworks" version="4.3.0-preview1-2524" targetFramework="net46" />
  <package id="NuGet.Packaging" version="4.3.0-preview1-2524" targetFramework="net46" />
  <package id="NuGet.Packaging.Core" version="4.3.0-preview1-2524" targetFramework="net46" />
  <package id="NuGet.Protocol" version="4.3.0-preview1-2524" targetFramework="net46" />
  <package id="NuGet.Services.Contracts" version="2.7.2" targetFramework="net46" />
  <package id="NuGet.Services.KeyVault" version="1.0.0.0" targetFramework="net46" />
  <package id="NuGet.Services.Logging" version="2.2.3.0" targetFramework="net46" />
  <package id="NuGet.Services.Owin" version="2.2.3" targetFramework="net46" />
  <package id="NuGet.Services.Platform.Client" version="3.0.29-r-master" targetFramework="net46" />
  <package id="NuGet.Services.ServiceBus" version="2.7.2" targetFramework="net46" />
  <package id="NuGet.Services.Validation" version="2.7.2" targetFramework="net46" />
  <package id="NuGet.Services.Validation.Issues" version="2.7.2" targetFramework="net46" />
  <package id="NuGet.Versioning" version="4.3.0-preview1-2524" targetFramework="net46" />
  <package id="ODataNullPropagationVisitor" version="0.5.4237.2641" targetFramework="net46" />
  <package id="Owin" version="1.0" targetFramework="net46" />
  <package id="PoliteCaptcha" version="0.4.0.1" targetFramework="net46" />
  <package id="QueryInterceptor" version="0.1.4237.2400" targetFramework="net46" />
  <package id="recaptcha" version="1.0.5.0" targetFramework="net46" />
  <package id="RouteMagic" version="1.1.3" targetFramework="net46" />
  <package id="Serilog" version="2.0.0" targetFramework="net46" />
  <package id="Serilog.Enrichers.Environment" version="2.1.0" targetFramework="net46" />
  <package id="Serilog.Enrichers.Process" version="2.0.0" targetFramework="net46" />
  <package id="Serilog.Extensions.Logging" version="1.2.0" targetFramework="net46" />
  <package id="Serilog.Sinks.ApplicationInsights" version="2.2.1" targetFramework="net46" />
  <package id="Serilog.Sinks.ColoredConsole" version="2.0.0" targetFramework="net46" />
  <package id="SerilogTraceListener" version="2.0.10027" targetFramework="net46" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net46" />
  <package id="Strathweb.CacheOutput.WebApi2" version="0.9.0" targetFramework="net46" />
  <package id="System.Collections" version="4.0.11" targetFramework="net46" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net46" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net46" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net46" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.0.0" targetFramework="net46" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net46" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.0" targetFramework="net46" />
  <package id="System.IO" version="4.1.0" targetFramework="net46" />
  <package id="System.Linq" version="4.1.0" targetFramework="net46" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net46" />
  <package id="System.Net.Http" version="4.1.0" targetFramework="net46" />
  <package id="System.Net.Primitives" version="4.0.11" targetFramework="net46" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net46" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="net46" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net46" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net46" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net46" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net46" />
  <package id="System.Runtime.Serialization.Json" version="4.0.2" targetFramework="net46" />
  <package id="System.Runtime.Serialization.Primitives" version="4.1.1" targetFramework="net46" />
  <package id="System.Security.Cryptography.Algorithms" version="4.2.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Encoding" version="4.0.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Primitives" version="4.0.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.1.0" targetFramework="net46" />
  <package id="System.Spatial" version="5.6.5-beta" targetFramework="net46" />
  <package id="System.Text.Encoding" version="4.0.11" targetFramework="net46" />
  <package id="System.Text.Encoding.Extensions" version="4.0.11" targetFramework="net46" />
  <package id="System.Text.RegularExpressions" version="4.1.0" targetFramework="net46" />
  <package id="System.Threading" version="4.0.11" targetFramework="net46" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net46" />
  <package id="System.Xml.ReaderWriter" version="4.0.11" targetFramework="net46" />
  <package id="System.Xml.XDocument" version="4.0.11" targetFramework="net46" />
  <package id="WebActivator" version="1.4.4" targetFramework="net46" />
  <package id="WebActivatorEx" version="2.0.6" targetFramework="net46" />
  <package id="WebBackgrounder" version="0.2.0" targetFramework="net46" />
  <package id="WebBackgrounder.EntityFramework" version="0.1" targetFramework="net46" />
  <package id="WebGrease" version="1.1.0" targetFramework="net46" />
  <package id="WindowsAzure.Caching" version="1.7.0.0" targetFramework="net46" />
  <package id="WindowsAzure.ServiceBus" version="4.1.3" targetFramework="net46" />
  <package id="WindowsAzure.Storage" version="7.0.0" targetFramework="net46" />
</packages>