<?xml version="1.0"?>
<appSettings>
    <!-- If you're running in Azure, we suggest you set these in your .cscfg file. -->

    <!-- ******************* -->
    <!-- DEPLOYMENT SPECIFIC -->
    <!-- ******************* -->
    <!-- These should change on every deployment (to rotate credentials, etc.) -->
    <add key="Gallery.AzureStorageConnectionString" value="" />
    <!-- The connection string for the Azure Storage Account used for Package Storage IF Gallery.StorageType is AzureStorage -->


    <!-- ******************** -->
    <!-- ENVIRONMENT SPECIFIC -->
    <!-- ******************** -->
    <!-- These only need to change when defining a new environment -->
    <!-- development only key, override on live site -->
    <add key="Gallery.Environment" value="Development" />
    <add key="Gallery.FacebookAppId" value="" />
    <!-- Set this if you have a Facebook App ID you want to use for the Like button -->
    <add key="Gallery.GoogleAnalyticsPropertyId" value="" />
    <!-- Set this if you have a Google Analytics property for the site -->
    <add key="Gallery.AzureCdnHost" value="" />
    <!-- Set this to the Azure CDN Host you are using for blob storage, if you have configured one -->
    <add key="Gallery.SiteRoot" value="http://nuget.localtest.me/" />
    <add key="reCAPTCHA::PrivateKey" value="6LcebdwSAAAAAI5dI90LpPMFGKDxdCt6fjwEwMut" />
    <add key="reCAPTCHA::PublicKey" value="6LcebdwSAAAAAFI06sH9RRb2VP1HFCjYpg74lKG7" />
        
    <!-- ************* -->
    <!-- AUTH SETTINGS -->
    <!-- ************* -->
    <!-- Enabling/Disabling and configuring auth providers -->
    <add key="Auth.LocalUser.Enabled" value="true" />
    <add key="Auth.ApiKey.Enabled" value="true" />
    <add key="Auth.MicrosoftAccount.Enabled" value="false" />
    <add key="Auth.MicrosoftAccount.ClientId" value="" />
    <add key="Auth.MicrosoftAccount.ClientSecret" value="" />

    <!-- *************** -->
    <!-- STABLE SETTINGS -->
    <!-- *************** -->
    <!-- Depending on your policy, these likely do not need to vary -->

    <!-- SmtpUri is expected to be of the format: smtps://username:password@host:port. Note that if username contains an "@", you need to URI Encode it! -->
    <!--<add key="Gallery.SmtpUri" value="" />-->
    <!-- 
        Location for the Lucene Index.
            AppData -> ~/App_Data/Lucene,
            Temp -> [Path.GetTempPath()]/NuGetGallery/Lucene,
    -->
    <add key="Gallery.LuceneIndexLocation" value="AppData" />
    <add key="Gallery.RequireSSL" value="false" />
    <add key="Gallery.GalleryOwner" value="NuGet Gallery &lt;nugetgallery@outercurve.org&gt;" />
    <add key="Gallery.ConfirmEmailAddresses" value="true" />

    <!-- Set this to true if there is a backend worker based on NuGetGallery.Backend. This disables background tasks in the Website -->
    <add key="Gallery.HasWorker" value="false" />

    <!-- Feature Configuration -->
    <add key="Feature.FriendlyLicenses" value="false" />

    <!-- ***************** -->
    <!-- ASP.Net settings. -->
    <!-- ***************** -->
    <!-- These should never need to be changed -->
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
