<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="Gallery.IsIntranetSite" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
        <!-- Set this to the URL for the company -->
        <add key="Gallery.IntranetCompanyUrl" value="http://nuget.codeplex.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />

        <add key="Gallery.Environment" value="Production" />

        <!-- Clear this value to use local Lucene searching and indexing -->
        <add key="Gallery.ServiceDiscoveryUri" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
        <add key="Gallery.SearchServiceResourceType" value="SearchGalleryQueryService/3.0.0-rc"  xdt:Transform="Replace" xdt:Locator="Match(key)" />

        <add key="Gallery.SiteRoot" value="http://nuget.localtest.me/" />

        <add key="Gallery.Brand" value="My NuGet Gallery" xdt:Transform="Replace" xdt:Locator="Match(key)" />
        <add key="Gallery.GalleryOwner" value="My NuGet Gallery &lt;support@nuget.org&gt;" xdt:Transform="Replace" xdt:Locator="Match(key)" />
        <add key="Gallery.ConfirmEmailAddresses" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    </appSettings>

    <connectionStrings>
        <add name="Gallery.SqlServer"
             connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=NuGetGallery;Integrated Security=SSPI"
             providerName="System.Data.SqlClient"
             xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
    
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
        <!--
            In the example below, the "Replace" transform will replace the entire 
            <customErrors> section of your web.config file.
            Note that because there is only one customErrors section under the 
            <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
            <customErrors defaultRedirect="GenericError.htm"
            mode="RemoteOnly" xdt:Transform="Replace">
            <error statusCode="500" redirect="InternalError.htm"/>
            </customErrors>
        -->
    </system.web>
</configuration>