<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368

  NOTE: If you debug this on your local machine with IIS 7 then install the URL Rewrite Module
  http://www.iis.net/downloads/microsoft/url-rewrite
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <configProtectedData>
    <providers>
      <add name="GalleryMachineKeyConfigurationProvider" type="NuGetGallery.GalleryMachineKeyConfigurationProvider, NuGetGallery"/>
    </providers>
  </configProtectedData>
  <appSettings>
    <!-- If you're running in Azure, we suggest you set these in your .cscfg file. -->
    <!-- ******************* -->
    <!-- DEPLOYMENT SPECIFIC -->
    <!-- ******************* -->
    <!-- These should change on every deployment (to rotate credentials, etc.) -->
    <add key="Gallery.StorageType" value="FileSystem"/>
    <!-- The storage type to use. Can be FileSystem (default) or AzureStorage -->
    <add key="Gallery.AzureStorage.Auditing.ConnectionString" value=""/>
    <add key="Gallery.AzureStorage.UserCertificates.ConnectionString" value=""/>
    <add key="Gallery.AzureStorage.Content.ConnectionString" value=""/>
    <add key="Gallery.AzureStorage.Errors.ConnectionString" value=""/>
    <add key="Gallery.AzureStorage.Packages.ConnectionString" value=""/>
    <add key="Gallery.AzureStorage.FlatContainer.ConnectionString" value=""/>
    <add key="Gallery.AzureStorage.Statistics.ConnectionString" value=""/>
    <add key="Gallery.AzureStorage.Statistics.ConnectionString.Alternate" value=""/>
    <add key="Gallery.AzureStorage.Uploads.ConnectionString" value=""/>
    <add key="Gallery.AzureStorage.Revalidation.ConnectionString" value=""/>
    <!-- The various Azure Storage connection strings to use. If the Gallery.StorageType is AzureStorage, all must be defined. -->
    <add key="Gallery.AzureStorageReadAccessGeoRedundant" value="false"/>
    <!-- If the storage account has to fall-back to a secondary (when Read Access Geo Redundant is enabled in Azure storage), change Gallery.AzureStorageReadAccessGeoRedundant to true -->
    <add key="Gallery.FeatureFlagsRefreshInterval" value="00:01:00"/>
    <add key="Gallery.AdminPanelEnabled" value="true"/>
    <add key="Gallery.AdminPanelDatabaseAccessEnabled" value="false"/>
    <add key="Gallery.AsynchronousPackageValidationEnabled" value="false"/>
    <add key="Gallery.BlockingAsynchronousPackageValidationEnabled" value="false"/>
    <add key="Gallery.SelfServiceAccountDeleteEnabled" value="false"/>
    <add key="Gallery.AsynchronousPackageValidationDelay" value="00:00:05"/>
    <add key="Gallery.ValidationExpectedTime" value="00:50:00"/>
    <add key="Gallery.DeprecateNuGetPasswordLogins" value="false"/>
    <add key="AzureServiceBus.ManagedIdentityClientId" value=""/>
    <add key="AzureServiceBus.AccountDeleter.ConnectionString" value=""/>
    <add key="AzureServiceBus.AccountDeleter.TopicName" value=""/>
    <add key="AzureServiceBus.Validation.ConnectionString" value=""/>
    <add key="AzureServiceBus.Validation.TopicName" value=""/>
    <add key="AzureServiceBus.SymbolsValidation.ConnectionString" value=""/>
    <add key="AzureServiceBus.SymbolsValidation.TopicName" value=""/>
    <add key="AzureServiceBus.EmailPublisher.ConnectionString" value=""/>
    <add key="AzureServiceBus.EmailPublisher.TopicName" value=""/>
    <!--
    If Gallery.AsynchronousPackageValidationEnabled is true, all the AzureServiceBus.Validation.*
    and AzureServiceBus.SymbolsValidation.* must be set.
    -->
    <!-- ******************** -->
    <!-- ENVIRONMENT SPECIFIC -->
    <!-- ******************** -->
    <!-- These only need to change when defining a new environment -->
    <!-- development only key, override on live site -->
    <add key="Gallery.Environment" value="Development"/>
    <!-- banner warning on the top - leave blank to remove the banner from the site. -->
    <add key="Gallery.WarningBanner" value="This is the local development environment."/>
    <!-- Set this if you have a Facebook App ID you want to use for the Like button -->
    <add key="Gallery.FacebookAppId" value=""/>
    <!-- Set this if you have a Application Insights instrumentation key to use for your gallery deployment -->
    <add key="Gallery.AppInsightsInstrumentationKey" value=""/>
    <!-- Set this if you have a Application Insights instrumentation key to use for your gallery deployment and want to apply sampling -->
    <add key="Gallery.AppInsightsSamplingPercentage" value="100"/>
    <!-- Set this if you have a Application Insights instrumentation key to use for your gallery deployment and want to configure heartbeat interval -->
    <add key="Gallery.AppInsightsHeartbeatIntervalSeconds" value="60"/>
    <!-- Set this if you have a Google Analytics property for the site -->
    <add key="Gallery.GoogleAnalyticsPropertyId" value=""/>
    <!-- Set this to the Azure CDN Host you are using for blob storage, if you have configured one -->
    <add key="Gallery.AzureCdnHost" value=""/>
    <add key="Gallery.SiteRoot" value="http://localhost"/>
    <add key="Gallery.SupportEmailSiteRoot" value="http://localhost"/>
    <!-- Set this to add recatpcha to report abuse forms -->
    <add key="Gallery.ReCaptchaPrivateKey" value=""/>
    <add key="Gallery.ReCaptchaPublicKey" value=""/>
    <add key="Gallery.AdminSenderUser" value="NuGetAdmin"/>
    <!-- ************* -->
    <!-- AUTH SETTINGS -->
    <!-- ************* -->
    <!-- Enabling/Disabling and configuring auth providers -->
    <add key="Auth.LocalUser.Enabled" value="true"/>
    <add key="Auth.ApiKey.Enabled" value="true"/>
    <add key="Auth.MicrosoftAccount.Enabled" value="false"/>
    <add key="Auth.MicrosoftAccount.ClientId" value=""/>
    <add key="Auth.MicrosoftAccount.ClientSecret" value=""/>
    <add key="Auth.AzureActiveDirectoryV2.Enabled" value="false"/>
    <add key="Auth.AzureActiveDirectoryV2.ClientId" value=""/>
    <add key="Auth.AzureActiveDirectory.Enabled" value="false"/>
    <add key="Auth.AzureActiveDirectory.ClientId" value=""/>
    <add key="Auth.AzureActiveDirectory.Authority" value=""/>
    <add key="Auth.AzureActiveDirectory.Issuer" value=""/>
    <add key="Auth.AzureActiveDirectory.ShowOnLoginPage" value="false"/>
    <add key="Gallery.EnforcedAuthProviderForAdmin" value=""/>
    <add key="Gallery.EnforcedTenantIdForAdmin" value=""/>
    <add key="Gallery.ExpirationInDaysForApiKeyV1" value="365"/>
    <add key="Gallery.WarnAboutExpirationInDaysForApiKeyV1" value="10"/>
    <!-- Semi-colon separated list of domains for the alternate site root for gallery, used for MSA authentication by AADv2-->
    <add key="Gallery.AlternateSiteRootList" value=""/>
    <!-- *********************************************************** -->
    <!-- Cookie session persistence across deployment/slots settings -->
    <!-- *********************************************************** -->
    <!-- Machine key configuration settings -->
    <add key="Gallery.EnableMachineKeyConfiguration" value="false"/>
    <add key="Gallery.MachineKeyDecryption" value=""/>
    <add key="Gallery.MachineKeyDecryptionKey" value=""/>
    <add key="Gallery.MachineKeyValidationAlgorithm" value=""/>
    <add key="Gallery.MachineKeyValidationKey" value=""/>
    <!-- To change password complexity requirements, uncomment those lines, and set your regex and password hint.
    <add key="Gallery.UserPasswordRegex" value="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).{8,64}$" />
    <add key="Gallery.UserPasswordHint" value="Your password must be at least 8 characters, should include at least one uppercase letter, one lowercase letter and a digit." />
    -->
    <!-- *************** -->
    <!-- STABLE SETTINGS -->
    <!-- *************** -->
    <!-- Depending on your policy, these likely do not need to vary -->
    <add key="Gallery.AsynchronousDeleteAccountServiceEnabled" value="false"/>
    <!-- SmtpUri is expected to be of the format: smtps://username:password@host:port. Note that if username contains an "@", you need to URI Encode it! -->
    <!--<add key="Gallery.SmtpUri" value="" />-->
    <add key="Gallery.AsynchronousEmailServiceEnabled" value="false"/>
    <!--
        Location for the Lucene Index.
            AppData -> ~/App_Data/Lucene,
            Temp -> [Path.GetTempPath()]/NuGetGallery/Lucene,
    -->
    <add key="Gallery.LuceneIndexLocation" value="AppData"/>
    <add key="Gallery.RequireSSL" value="true"/>
    <!-- The paths to exclude from the HTTP to HTTPS force redirects. Use ; to separate between paths.-->
    <add key="Gallery.ForceSslExclusion" value="/api/health-probe;/api/status"/>
    <!-- Set this values to use a remote search service. This overrides ALL other Lucene-related settings and disables indexing jobs. -->
    <add key="Gallery.SearchServiceUriPrimary" value=""/>
    <add key="Gallery.SearchServiceUriSecondary" value=""/>
    <add key="Gallery.PreviewSearchServiceUriPrimary" value=""/>
    <add key="Gallery.PreviewSearchServiceUriSecondary" value=""/>
    <add key="Gallery.SearchCircuitBreakerDelayInSeconds" value="600"/>
    <add key="Gallery.SearchCircuitBreakerWaitAndRetryIntervalInMilliseconds" value="500"/>
    <add key="Gallery.SearchCircuitBreakerWaitAndRetryCount" value="3"/>
    <add key="Gallery.SearchCircuitBreakerBreakAfterCount" value="200"/>
    <add key="Gallery.SearchHttpRequestTimeoutInMilliseconds" value="100000"/>
    <add key="Gallery.Brand" value="NuGet Gallery"/>
    <add key="Gallery.GalleryOwner" value="NuGet Gallery &lt;support@nuget.org&gt;"/>
    <add key="Gallery.GalleryNoReplyAddress" value="NuGet Gallery &lt;noreply@nuget.org&gt;"/>
    <add key="Gallery.ConfirmEmailAddresses" value="false"/>
    <add key="Gallery.CollectPerfLogs" value="false"/>
    <add key="Gallery.IsODataFilterEnabled" value="false"/>
    <add key="Gallery.ExternalStatusUrl" value="https://status.nuget.org/"/>
    <add key="Gallery.ExternalAboutUrl" value=""/>
    <add key="Gallery.ExternalPrivacyPolicyUrl" value=""/>
    <add key="Gallery.ExternalTermsOfUseUrl" value=""/>
    <add key="Gallery.ExternalBrandingUrl" value=""/>
    <add key="Gallery.ExternalBrandingMessage" value=""/>
    <add key="Gallery.TrademarksUrl" value=""/>
    <add key="Gallery.FileStorageDirectory" value="~/App_Data/Files"/>
    <add key="Gallery.EnforceDefaultSecurityPolicies" value="false"/>
    <add key="Gallery.RejectSignedPackagesWithNoRegisteredCertificate" value="false"/>
    <add key="Gallery.RejectPackagesWithTooManyPackageEntries" value="false"/>
    <add key="Gallery.BlockSearchEngineIndexing" value="false"/>
    <!-- A template for the embedded icon storage. Allowed placeholders: {id-lower}, {version-lower} Value example: -->
    <!-- https://api.nuget.org/v3-flatcontainer/{id-lower}/{version-lower}/icon -->
    <add key="Gallery.EmbeddedIconUrlTemplate" value=""/>
    <!-- This is also the default so you can remove this setting if you really want. -->
    <!-- Set this to false if you want to disable search indexing in the background. -->
    <add key="Gallery.AutoUpdateSearchIndex" value="true"/>
    <!-- Feature Configuration -->
    <add key="Feature.FriendlyLicenses" value=""/>
    <add key="Feature.TrackPackageDownloadCountInLocalDatabase" value="false"/>
    <!-- Default is enabled. -->
    <!-- ***************** -->
    <!-- ASP.Net settings. -->
    <!-- ***************** -->
    <!-- These should never need to be changed -->
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="autoFormsAuthentication" value="false"/>
    <add key="enableSimpleMembership" value="false"/>
    <!-- ***************** -->
    <!-- KeyVault settings. -->
    <!-- ***************** -->
    <add key="KeyVault.VaultName" value=""/>
    <add key="KeyVault.UseManagedIdentity" value=""/>
    <add key="KeyVault.ClientId" value=""/>
    <add key="KeyVault.CertificateThumbprint" value=""/>
    <!-- *********************** -->
    <!-- PACKAGE DELETE SETTINGS -->
    <!-- *********************** -->
    <add key="PackageDelete.AllowUsersToDeletePackages" value="false"/>
    <add key="PackageDelete.MaximumDownloadsForPackageId" value=""/>
    <add key="PackageDelete.StatisticsUpdateFrequencyInHours" value=""/>
    <add key="PackageDelete.HourLimitWithMaximumDownloads" value=""/>
    <add key="PackageDelete.MaximumDownloadsForPackageVersion" value=""/>
    <add key="Gallery.BlockLegacyLicenseUrl" value="false"/>
    <add key="Gallery.AllowLicenselessPackages" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="Gallery.SqlServer" connectionString="Data Source=(localdb)\mssqllocaldb; Initial Catalog=NuGetGallery; Integrated Security=True; MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="Gallery.SupportRequestSqlServer" connectionString="Data Source=(localdb)\mssqllocaldb; Initial Catalog=SupportRequest; Integrated Security=True; MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="Gallery.ValidationSqlServer" connectionString="Data Source=(localdb)\mssqllocaldb; Initial Catalog=Validation; Integrated Security=True; MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!-- Configure paths containing static files -->
  <location path="Content">
    <system.web>
      <httpHandlers>
        <clear/>
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <clear/>
        <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read"/>
      </handlers>
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By"/>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="Scripts">
    <system.web>
      <httpHandlers>
        <clear/>
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <clear/>
        <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read"/>
      </handlers>
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By"/>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="Public">
    <system.web>
      <httpHandlers>
        <clear/>
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <clear/>
        <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read"/>
      </handlers>
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By"/>
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <httpCookies requireSSL="true" httpOnlyCookies="true"/>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
        <add namespace="NuGet.Services.Entities"/>
      </namespaces>
      <controls>
        <add tagPrefix="ef" assembly="Microsoft.AspNet.EntityDataSource" namespace="Microsoft.AspNet.EntityDataSource"/>
      </controls>
    </pages>
    <httpRuntime targetFramework="4.7.2" maxQueryStringLength="12000" maxRequestLength="256000" requestPathInvalidCharacters="&lt;,&gt;,*,%,:,\,?" relaxedUrlToFileSystemMapping="true" enableVersionHeader="false"/>
    <httpModules>
      <add name="AsyncFileUpload" type="NuGetGallery.AsyncFileUpload.AsyncFileUploadModule, NuGetGallery.Services"/>
      <add name="CookieCompliance" type="NuGetGallery.Modules.CookieComplianceHttpModule, NuGetGallery"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <httpHandlers>
      <!-- Remove Default HTTP Handler -->
      <remove path="*" verb="GET,HEAD,POST"/>
    </httpHandlers>
    <customErrors mode="RemoteOnly" defaultRedirect="~/App_500.aspx" redirectMode="ResponseRewrite">
      <error statusCode="400" redirect="~/App_400.aspx"/>
      <error statusCode="404" redirect="~/App_404.aspx"/>
      <error statusCode="500" redirect="~/App_500.aspx"/>
    </customErrors>
    <sessionState mode="Off"/>
    <machineKey configProtectionProvider="GalleryMachineKeyConfigurationProvider">
      <EncryptedData/>
    </machineKey>
  </system.web>
  <system.webServer>
    <tracing>
      <traceFailedRequests>
        <clear/>
        <add path="*">
          <traceAreas>
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Warning"/>
          </traceAreas>
          <failureDefinitions statusCodes="500-599"/>
        </add>
      </traceFailedRequests>
    </tracing>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <add name="Content-Security-Policy" value="frame-ancestors 'none'"/>
        <add name="X-Frame-Options" value="deny"/>
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains"/>
      </customHeaders>
    </httpProtocol>
    <handlers>
      <!-- This is an essential part of the security configuration, since we disable request filtering in order
            to support Package IDs with ".vb", ".config", etc. We MUST remove the ability to serve static files from the main
            site. Only the ~/Public folder supports static file serving. DO NOT remove this setting without a security review -->
      <remove name="StaticFile"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="AsyncFileUpload" type="NuGetGallery.AsyncFileUpload.AsyncFileUploadModule, NuGetGallery.Services" preCondition="managedHandler"/>
      <add name="CookieCompliance" type="NuGetGallery.Modules.CookieComplianceHttpModule, NuGetGallery" preCondition="managedHandler"/>
      <remove name="RoleManager"/>
      <remove name="TelemetryCorrelationHttpModule"/>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="404"/>
      <remove statusCode="500"/>
      <error statusCode="404" path="/Errors/404" responseMode="ExecuteURL"/>
      <error statusCode="500" path="/Errors/500" responseMode="ExecuteURL"/>
    </httpErrors>
    <security>
      <requestFiltering>
        <!-- Clearing hidden segments and file extensions is done to allow Package IDs with ".vb", ".config", etc.
                in their name to be served. As a result, we disable static file serving above. DO NOT change these settings
                without a security review -->
        <fileExtensions>
          <clear/>
        </fileExtensions>
        <hiddenSegments>
          <clear/>
        </hiddenSegments>
        <!-- maxAllowedContentLength = 250MB * 1024 * 1024 = 262144000 -->
        <requestLimits maxQueryString="12000" maxAllowedContentLength="262144000"/>
      </requestFiltering>
    </security>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="application/json" enabled="true"/>
        <add mimeType="application/atom+xml" enabled="true"/>
        <add mimeType="application/atom+xml;charset=utf-8" enabled="true"/>
        <add mimeType="application/atom+xml; type=feed" enabled="true"/>
        <add mimeType="application/atom+xml; type=feed; charset=utf-8" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="application/json" enabled="true"/>
        <add mimeType="application/atom+xml" enabled="true"/>
        <add mimeType="application/atom+xml;charset=utf-8" enabled="true"/>
        <add mimeType="application/atom+xml; type=feed" enabled="true"/>
        <add mimeType="application/atom+xml; type=feed; charset=utf-8" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <rewrite>
      <rewriteMaps>
        <rewriteMap name="MapProtocol" defaultValue="OFF">
          <add key="ON" value="https://"/>
          <add key="OFF" value="http://"/>
        </rewriteMap>
      </rewriteMaps>
      <rules>
        <rule name="Rewrite Public File">
          <match url="^(.*)$"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{APPL_PHYSICAL_PATH}public\{R:1}" matchType="IsFile"/>
          </conditions>
          <action type="Rewrite" url="public/{R:1}"/>
        </rule>
        <rule name="Canonicalize Domain Name">
          <match url="^(.*)$"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^nuget\.org$"/>
          </conditions>
          <action type="Redirect" url="{MapProtocol:{HTTPS}}www.nuget.org/{R:1}" redirectType="Permanent"/>
        </rule>
        <rule name="Redirect preview">
          <match url="^(.*)$"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^preview\.nuget\.org$"/>
          </conditions>
          <action type="Redirect" url="{MapProtocol:{HTTPS}}www.nuget.org/{R:1}" redirectType="Permanent"/>
        </rule>
        <rule name="Legacy feed root URL" stopProcessing="true">
          <match url="^$"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^packages([0-9]?)\.nuget.org$"/>
          </conditions>
          <action type="Redirect" url="https://packages.nuget.org/v1/FeedService.svc" redirectType="Permanent"/>
        </rule>
        <rule name="Legacy image icon URL" stopProcessing="true">
          <match url="^media/default/packages/([a-z0-9_][a-z0-9._-]*)/([0-9.]+)/[\w._ -]+\.([a-z]+)$"/>
          <action type="Redirect" url="https://nugetgallery.blob.core.windows.net/icons/{R:1}.{R:2}.{R:3}" redirectType="Permanent"/>
        </rule>
        <rule name="Rename DotNetFramework Feed">
          <match url="^api/v2/curated-feeds/dotnetframework(.*)$"/>
          <action url="{MapProtocol:{HTTPS}}{HTTP_HOST}/api/v2/curated-feeds/microsoftdotnet{R:1}" type="Redirect" redirectType="Permanent"/>
        </rule>
        <rule name="Rename DotNetFramework Feed Format 2">
          <match url="^api/v2/curated-feed/(.*)name=dotnetframework(.*)$"/>
          <action url="{MapProtocol:{HTTPS}}{HTTP_HOST}/api/v2/curated-feeds/microsoftdotnet/{R:1}{R:2}" type="Redirect" redirectType="Found"/>
        </rule>
        <rule name="Rename DotNetFramework Feed Format 3">
          <match url="^api/v2/curated-feeds/(.*)name=dotnetframework(.*)$"/>
          <action url="{MapProtocol:{HTTPS}}{HTTP_HOST}/api/v2/curated-feeds/microsoftdotnet/{R:1}{R:2}" type="Redirect" redirectType="Found"/>
        </rule>
        <rule name="Curated Feed Download URL" stopProcessing="true">
          <match url="^api/v2/curated-feeds/package/"/>
          <action type="None"/>
        </rule>
        <rule name="Curated Feed" stopProcessing="true">
          <match url="^api/v2/curated-feed/([^/]+)(.*)$"/>
          <action type="Rewrite" url="api/v2/curated-feeds/{R:1}/{R:2}"/>
        </rule>
        <rule name="We are not a Maven repository" patternSyntax="Wildcard" stopProcessing="true">
          <match url="org/*"/>
          <conditions>
            <add input="{HTTP_USER_AGENT}" pattern="Artifactory/*"/>
          </conditions>
          <action type="CustomResponse" statusCode="400" statusReason="Bad request" statusDescription="We are not a Maven repository"/>
        </rule>
      </rules>
    </rewrite>
    <applicationInitialization>
      <add initializationPage="/"/>
      <add initializationPage="/api/health-probe"/>
    </applicationInitialization>
  </system.webServer>
  <!-- Don't use the default error pages for API endpoints. -->
  <location path="api">
    <system.webServer>
      <httpErrors errorMode="DetailedLocalOnly">
        <remove statusCode="404"/>
        <remove statusCode="500"/>
      </httpErrors>
    </system.webServer>
  </location>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <extensions>
      <!-- Azure Service Bus extensions, added automatically by the WindowsAzure.ServiceBus package. -->
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
  <entityFramework codeConfigurationType="NuGetGallery.EntitiesConfiguration, NuGetGallery.Core">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(LocalDB)\mssqllocaldb;Initial Catalog=NuGetGallery;Integrated Security=SSPI"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159E12E44C8" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.39.0.0" newVersion="1.39.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Identity" publicKeyToken="92742159E12E44C8" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.11.3.0" newVersion="1.11.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0A613F4DD989E8AE" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.60.3.0" newVersion="4.60.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.3.1.0" newVersion="7.3.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.3.1.0" newVersion="7.3.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.3.1.0" newVersion="7.3.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.3.1.0" newVersion="7.3.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.3" newVersion="7.0.0.3"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Versioning" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.9.1.3" newVersion="6.9.1.3"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Packaging" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.9.1.3" newVersion="6.9.1.3"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.21.0.429" newVersion="2.21.0.429"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="B77A5C561934E089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.Owin" publicKeyToken="17863AF14B0044DA" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863AF14B0044DA" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>