<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  
  NOTE: If you debug this on your local machine with IIS 7 then install the URL Rewrite Module
  http://www.iis.net/downloads/microsoft/url-rewrite
  -->
<configuration>
    <configSections>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <sectionGroup name="elmah">
            <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
            <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
            <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
            <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
        </sectionGroup>
        <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
        <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
    </configSections>
    <appSettings>
        <!-- ASP.Net settings -->
        <add key="webpages:Version" value="2.0.0.0" />
        <add key="PreserveLoginUrl" value="true" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />

        <!-- development only key, override on live site -->
        <add key="reCAPTCHA::PrivateKey" value="6LcebdwSAAAAAI5dI90LpPMFGKDxdCt6fjwEwMut" />
        <add key="reCAPTCHA::PublicKey" value="6LcebdwSAAAAAFI06sH9RRb2VP1HFCjYpg74lKG7" />

        <add key="Gallery.ReleaseBranch" value="dev" />
        <add key="Gallery.ReleaseName" value="" />
        <add key="Gallery.ReleaseSha" value="123abc" />
        <add key="Gallery.ReleaseTime" value="2013-03-20 15:07:41 " />

        <!-- Gallery Settings. See IAppConfiguration -->
        <!-- If you're running in Azure, we suggest you set these in your .cscfg file. -->

        <!-- Use these settings for local non-SSL testing -->
        <add key="Gallery.RequireSSL" value="false" />
        <!-- Use these settings for local SSL testing (configure it in VS first) -->
        <!--<add key="Gallery.Require" value="true" />
        <add key="Gallery.SSLPort" value="44300" /> -->
        <!-- VS usually uses "44300" as the port. If that's taken, it uses "44301", "44302", and so on. -->
        
        <!-- 
            Location for the Lucene Index.
                AppData -> ~/App_Data/Lucene,
                Temp -> [Path.GetTempPath()]/NuGetGallery/Lucene,
        -->
        <add key="Gallery.LuceneIndexLocation" value="AppData" />
        
        <add key="Gallery.Environment" value="Development" />
        <add key="Gallery.SiteRoot" value="http://nuget.org/" />
        <add key="Gallery.GalleryOwner" value="NuGet Gallery &lt;nugetgallery@outercurve.org&gt;" />
        <add key="Gallery.ConfirmEmailAddresses" value="true" />
        <add key="Gallery.HasWorker" value="false" />

        <!-- Feature Configuration -->
        <add key="Feature.FriendlyLicenses" value="false" />
    </appSettings>
    <connectionStrings>
        <add name="Gallery.SqlServer" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=NuGetGallery;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <elmah>
        <security allowRemoteAccess="true" />
        <errorFilter>
            <test>
                <equal binding="HttpStatusCode" value="404" type="Int32" />
            </test>
        </errorFilter>
        <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="NuGetGallery" />
    </elmah>
    <!-- Ensure only Admins may access elmah and glimpse -->
    <location path="Admin" inheritInChildApplications="false">
        <system.web>
            <httpHandlers>
                <add verb="GET" path="Glimpse" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" />
                <add verb="POST,GET,HEAD" path="Errors.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
            </httpHandlers>
            <authorization>
                <allow roles="Admins" />
                <deny users="*" />
            </authorization>
            <customErrors mode="RemoteOnly" />
        </system.web>
        <system.webServer>
            <handlers>
                <add name="Glimpse" path="Glimpse" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />
                <add name="Elmah" path="Errors.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
            </handlers>
            <httpErrors>
                <clear />
            </httpErrors>
        </system.webServer>
    </location>
    <!-- Allow some very specific set of name to be used with the ~/package and ~/api/vX/package/ routes -->
    <location path="packages">
        <system.web>
            <httpHandlers configSource="Web.ForbiddenHandlers.config" />
        </system.web>
        <system.webServer>
            <security>
                <requestFiltering>
                    <fileExtensions allowUnlisted="true">
                        <remove fileExtension=".config" />
                        <remove fileExtension=".rules" />
                        <remove fileExtension=".resources" />
                    </fileExtensions>
                </requestFiltering>
            </security>
        </system.webServer>
    </location>
    <location path="api/v1/package">
        <system.web>
            <httpHandlers configSource="Web.ForbiddenHandlers.config" />
        </system.web>
        <system.webServer>
            <security>
                <requestFiltering>
                    <fileExtensions allowUnlisted="true">
                        <remove fileExtension=".config" />
                        <remove fileExtension=".rules" />
                        <remove fileExtension=".resources" />
                    </fileExtensions>
                </requestFiltering>
            </security>
        </system.webServer>
    </location>
    <location path="api/v2/package">
        <system.web>
            <httpHandlers configSource="Web.ForbiddenHandlers.config" />
        </system.web>
        <system.webServer>
            <security>
                <requestFiltering>
                    <fileExtensions allowUnlisted="true">
                        <remove fileExtension=".config" />
                        <remove fileExtension=".rules" />
                        <remove fileExtension=".resources" />
                    </fileExtensions>
                </requestFiltering>
            </security>
        </system.webServer>
    </location>
    <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
    <system.web>
        <compilation debug="true" targetFramework="4.5">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>
        <pages controlRenderingCompatibilityVersion="4.0">
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages" />
            </namespaces>
        </pages>
        <httpRuntime targetFramework="4.5" maxQueryStringLength="12000" maxRequestLength="2000000000" requestPathInvalidCharacters="&lt;,&gt;,*,%,:,\,?" />
        <!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> -->
        <httpModules>
            <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
            <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
            <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
            <add name="AsyncFileUpload" type="NuGetGallery.AsyncFileUpload.AsyncFileUploadModule, NuGetGallery" />
            <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />
        </httpModules>
        <customErrors mode="RemoteOnly" defaultRedirect="~/Errors/error.html">
            <error statusCode="404" redirect="~/Errors/404" />
        </customErrors>
        <sessionState mode="Off" />
    </system.web>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="X-Frame-Options" value="deny" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="Strict-Transport-Security" value="maxage=31536000; includeSubDomains" />
            </customHeaders>
        </httpProtocol>
        <modules runAllManagedModulesForAllRequests="true">
            <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
            <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
            <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
            <add name="AsyncFileUpload" type="NuGetGallery.AsyncFileUpload.AsyncFileUploadModule, NuGetGallery" preCondition="managedHandler" />
            <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />
        </modules>
        <validation validateIntegratedModeConfiguration="false" />
        
        <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/Errors/404" responseMode="ExecuteURL" />
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" path="/Errors/Error.html" responseMode="ExecuteURL" />
        </httpErrors>
        <security>
            <requestFiltering>
                <!-- maxAllowedContentLength = 250MB * 1024 * 1024 = 262144000 -->
                <requestLimits maxQueryString="12000" maxAllowedContentLength="262144000" />
            </requestFiltering>
        </security>
        <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
            <dynamicTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/x-javascript" enabled="true" />
                <add mimetype="application/json" enabled="true" />
                <add mimetype="application/atom+xml" enabled="true" />
                <add mimetype="application/atom+xml;charset=utf-8" enabled="true" />
                <add mimeType="*/*" enabled="false" />
            </dynamicTypes>
            <staticTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/x-javascript" enabled="true" />
                <add mimetype="application/json" enabled="true" />
                <add mimetype="application/atom+xml" enabled="true" />
                <add mimetype="application/atom+xml;charset=utf-8" enabled="true" />
                <add mimeType="*/*" enabled="false" />
            </staticTypes>
        </httpCompression>
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="MapProtocol" defaultValue="OFF">
                    <add key="ON" value="https://" />
                    <add key="OFF" value="http://" />
                </rewriteMap>
            </rewriteMaps>
            <rules>
                <rule name="Cannonicalize Domain Name">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^nuget\.org$" />
                    </conditions>
                    <action type="Redirect" url="{MapProtocol:{HTTPS}}www.nuget.org/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Legacy feed root URL" stopProcessing="true">
                    <match url="^$" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^packages([0-9]?)\.nuget.org$" />
                    </conditions>
                    <action type="Redirect" url="http://packages.nuget.org/v1/FeedService.svc" redirectType="Permanent" />
                </rule>
                <rule name="Legacy image icon URL" stopProcessing="true">
                    <match url="^media/default/packages/([a-z0-9_][a-z0-9._-]*)/([0-9.]+)/[\w._ -]+\.([a-z]+)$" />
                    <action type="Redirect" url="https://nugetgallery.blob.core.windows.net/icons/{R:1}.{R:2}.{R:3}" redirectType="Permanent" />
                </rule>
                
                <rule name="Rename DotNetFramework Feed">
                    <match url="^api/v2/curated-feeds/dotnetframework(.*)$" />
                    <action url="{MapProtocol:{HTTPS}}{HTTP_HOST}/api/v2/curated-feeds/microsoftdotnet{R:1}" type="Redirect" redirectType="Permanent" />
                </rule>
                <rule name="Rename DotNetFramework Feed Format 2">
                    <match url="^api/v2/curated-feed(.*)name=dotnetframework(.*)$" />
                    <action url="{MapProtocol:{HTTPS}}{HTTP_HOST}/api/v2/curated-feed/{R:1}name=microsoftdotnet{R:2}" type="Redirect" redirectType="Permanent" />
                </rule>
                
                <rule name="Curated Feed Download URL" stopProcessing="true">
                    <match url="^api/v2/curated-feeds/package/" />
                    <action type="None" />
                </rule>
                <rule name="Curated Feed" stopProcessing="true">
                    <match url="^api/v2/curated-feeds/([^/]+)(.*)$" />
                    <action type="Rewrite" url="api/v2/curated-feed{R:2}?name={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="RouteMagic" publicKeyToken="84b59be021aa4cee" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-0.2.2.2" newVersion="0.2.2.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Web.XmlTransform" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.serviceModel>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="Data Source=(localdb)\v11.0; Integrated Security=True; MultipleActiveResultSets=True" />
            </parameters>
        </defaultConnectionFactory>
    </entityFramework>
    <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Admin/Glimpse" serviceLocatorType="NuGetGallery.Diagnostics.NinjectGlimpseServiceLocator, NuGetGallery">
        <runtimePolicies>
            <ignoredTypes>
                <add type="Glimpse.AspNet.Policy.LocalPolicy, Glimpse.AspNet" />
                <add type="Glimpse.Core.Policy.ControlCookiePolicy, Glimpse.Core" />
            </ignoredTypes>
        </runtimePolicies>
    </glimpse>
</configuration>