@model CreateCuratedPackageRequest
@{
    Layout = "~/Views/Shared/TwoColumnLayout.cshtml";
}
@section SideColumn {
    <p><strong>Note: </strong>Packages might also be automatically included in your curated feed based on pre-defined rules. This form is to manually include a package in the curated feed, which will override any pre-defined rules.</p>
}
<h1 class="page-heading">Include Package in <i>@ViewBag.CuratedFeedName</i></h1>
@using (Html.BeginForm("CuratedPackages", "CuratedPackages", new { curatedFeedName = ViewBag.CuratedFeedName }))
{
    <fieldset class="form">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.EditorForModel()
        <input type="submit" value="Add" title="Add" />
    </fieldset>
}