<div class="modal-dialog modal-box">
    <div class="modal-title">
        <span class="title-text">Sign-in assistance</span>
        <button type="button" class="dismiss-button" data-dismiss="modal" aria-label="Close">
            <i class="ms-Icon ms-Icon--Cancel" aria-hidden="true"></i>
        </button>
    </div>
    <div class="modal-body">
        <div class="tag-node">
            <span class="title-text">
                Forgot Microsoft account you used to sign-in?
            </span>
        </div>
        <form>
            <span>
                Please enter the NuGet username
            </span>
            <input type="text" />
            <button>Next</button>
        </form>
    </div>
</div>
