@{
    ViewBag.Title = "About the Gallery";
}

<script type="text/html" id="contributor-list-template">
    <!-- This is all on a single line because if there is space (new lines) between the <ul> and <li> elements, browsers render the space and it causes the formatting to be off. -->
    <ul class="contributors list-inline" data-bind="foreach: $data"><li class="contributor"><a data-bind="attr: { href: html_url }"><img class="avatar" data-bind="attr: { src: avatar_url, title: login }" /></a></li></ul>
</script>

<section role="main" class="container main-container page-about">
    <div class="row">
        <div class="col-xs-12">
            <h1>About NuGet</h1>
            <p>
                An essential tool for any modern development platform is a mechanism through which developers can create, share, and consume useful libraries and packages. For .NET, that mechanism is NuGet, which defines how packages for .NET are created, hosted, and consumed, and provides the tools for each of those roles. 
            </p>

            <h2>The NuGet team</h2>
            <p>
                These are contributors from the NuGet team, including current and past team members.  The NuGet team works on the <a href="https://github.com/NuGet">NuGet Gallery</a>, and the <a href="https://github.com/NuGet/Home">NuGet Client tools</a> (Visual Studio Extension, nuget.exe, etc).
            </p>
            <div data-bind="template: { name: 'contributor-list-template', data: team }"></div>

            <h2>About the Gallery</h2>
            <p>
                The NuGet Gallery is <a href="http://opensource.org/">Open-Source Software</a> licensed under the
                <a href="https://github.com/NuGet/NuGetGallery/blob/master/LICENSE.txt">Apache 2 License</a>. This means
                you can take the code, modify it and redistribute it freely, as long as you adhere to the terms of the license.
            </p>
            <p>
                We also welcome contributions from the community. If you would like to contribute, check out our
                <a href="https://github.com/NuGet/NuGetGallery/blob/master/CONTRIBUTING.md">Contributors Guide</a> on
                our <a href="https://github.com/NuGet/NuGetGallery">GitHub Project Page</a>.
            </p>

            <h3>Special thanks</h3>
            <p>
                A special thanks go out to some of our contributors who have made major contributions to the site.
            </p>
            <ul>
                <li>
                    <a href="https://github.com/NuGet/NuGetGallery/commits?author=robertmuehsig">Robert Muehsig</a> -
                    Lots of bug fixes, up-for-grabs features and various assorted goodies.
                </li>
                <li>
                    <a href="https://github.com/NuGet/NuGetGallery/commits?author=zippy1981">Justin Dearing</a> -
                    Added the ability to send a copy of support emails to the originator.
                </li>
            </ul>
            <p>
                And <a href="https://github.com/NuGet/NuGetGallery/graphs/contributors" aria-label="Read the full list of contributors on GitHub.">many many more!</a>
            </p>
            <div data-bind="template: { name: 'contributor-list-template', data: contributors }"></div>
        </div>
    </div>
</section>

@section BottomScripts {
    @Scripts.Render("~/Scripts/gallery/page-about.min.js")
}