@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/Gallery/Layout.cshtml";
}
<div class="container main-container">
    <div class="page-pages">
        @ViewBag.Content
    </div>
</div>