<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositorypath" value="..\packages" />
  </config>
  <packageSourceMapping>
    <clear />
    <!--
    Disable package source mapping because it breaks "nuget.exe install" commands executed in the functional tests.
    --> 
  </packageSourceMapping>
</configuration>