@model NuGetGallery.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home";
    ViewBag.Tab = "Home";
}
<section class="featured">
    <div>
        <h1>What is NuGet?</h1>
        <p>NuGet is the package manager for the Microsoft development platform including .NET. The NuGet client tools provide the ability to produce and consume packages. The NuGet Gallery is the central package repository used by all package authors and consumers.</p>
        <a class="install" href="http://docs.nuget.org/docs/start-here/installing-nuget">Install NuGet</a>
    </div>
    <img src="@Url.Content("~/content/images/hero.png")" alt="Manage NuGet Packages Dialog Window" /> 
</section> 

<section class="aggstats">
    <span class="stat">
        <span id="UniquePackages" class="num"></span> unique packages
    </span>
    <span class="stat">
        <span id="Downloads" class="num"></span>total package downloads
    </span>
    <span class="stat">
        <span id="TotalPackages" class="num"></span>total packages
    </span>
</section>

<section class="aggstatserr">
    <span class="err">an error occurred while retrieving statistics</span>
</section>

@if(Model.Announcement != null) {
<section class="release">
    @Model.Announcement
</section>
}

@if(Model.About != null) {
<section class="info">
    @Model.About
</section>
}

@section BottomScripts
{
    @* Right now this is the only page that uses this script. If we increase our usage of it, we should put it in our bundles *@
    @Scripts.Render("~/Scripts/stats.js")
    <script>
        $(getStats);
    </script>
}
