@model NuGetGallery.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home";
    ViewBag.Tab = "Home";
}
<section class="featured">
    <div class="feature-box">
        <a href="/install" id="feature-button-left" class="feature-button">
            <i class="icon-cloud-download"></i>
            <h1>Get NuGet</h1>
            <p>Install NuGet to make managing software libraries a breeze</p>
        </a>
    </div>
    <div class="feature-box">
        <a href="http://docs.nuget.org/docs/start-here/managing-nuget-packages-using-the-dialog" id="feature-button-mid" class="feature-button">
            <i class="icon-magic"></i>
            <h1>Install Packages</h1>
            <p>Point, click, Add Reference. It's just that easy. No really!</p>
        </a>
    </div>
    <div class="feature-box">
        <a href="http://docs.nuget.org/docs/creating-packages/creating-and-publishing-a-package" id="feature-button-right" class="feature-button">
            <i class="icon-gift"></i>
            <h1>Make Packages</h1>
            <p>Build the ecosystem and become a NuGet package rockstar!</p>
        </a>
    </div>
</section>

<section class="trending">
    <h2>Trending now</h2>
    <p>[Pretty Chart here]</p>
</section>

<section class="aggstats">
    <span class="stat">
        <span id="UniquePackages" class="num"></span> unique packages
    </span>
    <span class="stat">
        <span id="Downloads" class="num"></span>total downloads
    </span>
    <span class="stat">
        <span id="TotalPackages" class="num"></span>total packages
    </span>
</section>

<section class="aggstatserr">
    <span class="err">an error occurred while retrieving statistics</span>
</section>

@section BottomScripts
{
    @* Right now this is the only page that uses this script. If we increase our usage of it, we should put it in our bundles *@
    @Scripts.Render("~/Scripts/stats.js")
    <script>
        $(getStats);
    </script>
}
