@model NuGetGallery.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home";
    ViewBag.Tab = "Home";
}
<section class="featured">
    <div>
        <h1>Jump Start Your Projects with NuGet</h1>
        <p >NuGet is a Visual Studio extension that makes it easy to install and update third-party libraries and tools in Visual Studio.</p>
        <p class="sub"><em>So <a href="http://visualstudiogallery.msdn.microsoft.com/27077b70-9dad-4c64-adcf-c7cf6bc9970c">install NuGet</a> and get a jump on your next project!</em></p>
        <a class="install" href="http://visualstudiogallery.msdn.microsoft.com/27077b70-9dad-4c64-adcf-c7cf6bc9970c">Install NuGet</a>
    </div>
    <img src="@Url.Content("~/content/images/hero.png")" alt="NuGet GUI Window" />
</section> 

<section class="aggstats">
    <span class="stat">
        <span id="UniquePackages" class="num"></span> unique packages
    </span>
    <span class="stat">
        <span id="Downloads" class="num"></span>total downloads
    </span>
    <span class="stat">
        <span id="TotalPackages" class="num"></span>total packages
    </span>
</section>

<section class="aggstatserr">
    <span class="err">an error occurred while retrieving statistics</span>
</section>

@if(Model.Announcement != null) {
<section class="release">
    @Model.Announcement
</section>
}

@if(Model.About != null) {
<section class="info">
    @Model.About
</section>
}

@section BottomScripts
{
    @* Right now this is the only page that uses this script. If we increase our usage of it, we should put it in our bundles *@
    @Scripts.Render("~/Scripts/stats.js")
    <script>
        $(getStats);
    </script>
}
