<div class="user-display">
    @if (!User.Identity.IsAuthenticated)
    {
    }
    else
    {
        <span class="welcome"><a href="@Url.Action("Account", "Users", new { area = "" })">@(User.Identity.Name)</a></span>
        <text>/</text>
        <span class="user-actions">
            <a href="@Url.LogOff()">Sign out</a>
        </span>
    }
</div>