{
  "package": [
    {
      "packageId": "dotNetRDF",
      "version": "1.0.5.3315",
      "targetFramework": "net45",
      "allowedVersions": "1.0.2",
      "explicitlyInstalled": true,
    },
    {
      "packageId": "HtmlAgilityPack",
      "version": "1.4.6",
      "targetFramework": "net45",
      "explicitlyInstalled": false,
    },
    {
      "packageId": "VDS.Common",
      "version": "1.3.0",
      "targetFramework": "net45",
      "explicitlyInstalled": false,
    }
  ],
  "@context": {
    "@vocab": "http://schema.nuget.org/nuget",
    "nuget": "http://schema.nuget.org/",
    "packages": "nuget:package"
  }
}