<div class="grid grid-pad">
    <div class="col-1-2">
        <div class="content">
            @Html.Action("PackagesChart", "Trending");
        </div>
    </div>
    <div class="col-1-2">
        <div class="content">
            @Html.Action("UsersChart", "Trending");
        </div>
    </div>
</div>
