<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <!-- Connection settings for database and blob storage. -->
    <add key="Gallery.StorageType" value="FileSystem"/>
    <add key="Gallery.AzureStorage.Auditing.ConnectionString" value=""/>
    <add key="Gallery.AzureStorage.Errors.ConnectionString" value=""/>
    <add key="Gallery.AzureStorage.Packages.ConnectionString" value=""/>

    <add key="Gallery.SqlServer" value="Data Source=(localdb)\mssqllocaldb; Initial Catalog=NuGetGallery; Integrated Security=True; MultipleActiveResultSets=True"/>
    <add key="Gallery.SupportRequestSqlServer" value="Data Source=(localdb)\mssqllocaldb; Initial Catalog=NuGetGallery; Integrated Security=True; MultipleActiveResultSets=True"/>
 
    <!-- KeyVault configuration to fetch secrets. -->
    <add key="KeyVault.VaultName" value=""/>
    <add key="KeyVault.UseManagedIdentity" value=""/>
    <add key="KeyVault.ClientId" value=""/>
    <add key="KeyVault.CertificateThumbprint" value=""/>
    
    <!-- Used for testing locally. -->
    <add key="Gallery.SiteRoot" value="http://localhost"/>
    <add key="Gallery.FileStorageDirectory" value="..\..\..\NuGetGallery\App_Data\Files"/>
    <add key="Gallery.LuceneIndexLocation" value="Temp"/>
    <add key="Gallery.IsHosted" value="false"/>

    <add key="Gallery.ServiceDiscoveryUri" value="https://api.nuget.org/v3/index.json" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
