#outer-wrapper {
    background: url('Images/headerbackground.png') repeat-x top left #fff;
}
#logo a {
    background: url("Images/consid.se_logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 10px;
}
