<div class="tile" data-role="tile-slider" data-param-period="20000" id="resourcediv" onclick="ShowDetails('Details','ResourceMonitoring');">
    <div id="errorrate" class="tile-content bg-color-green">
        <h1>CPU</h1>
        <br />
        <div class="badge"></div>
    </div>
    <div id="throughput" class="tile-content bg-color-green">
        <h1>Memory</h1>
        <br />
        <div class="badge"></div>
    </div>
    <div class="brand bg-color-green">
                                            <p class="text"><em>Resource Monitor</em></p>
                                        </div>
</div>
