<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.0-rc1" targetFramework="portable-net45+wp80+win" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="portable-net45+wp80+win" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="portable-net45+wp80+win" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="portable-net45+wp80+win" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="portable-net45+wp80+win" />
</packages>