<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <!-- add custom rule to recycle app pool if memory is more than 4 GB -->

    <httpProtocol xdt:Transform="Insert">
      <customHeaders>
        <add name="Arr-Disable-Session-Affinity" value="true" />
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>
    <httpCompression xdt:Transform="Insert">
      <dynamicTypes>
        <add enabled="true" mimeType="application/json"/>
        <add enabled="true" mimeType="application/javascript"/>
      </dynamicTypes>
      <staticTypes>
        <add enabled="true" mimeType="application/json"/>
        <add enabled="true" mimeType="application/javascript"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" xdt:Transform="Insert" />
  </system.webServer>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>