<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--<add key="FromStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=cmanutest;AccountKey=cz6fdA4VlyMQlhZjWhcqs0SgvzDLch6L+6qzAjdoAUTWerJqynRbVmnm+H+2gUwPXb/QhI56grho4BqRlk7JKQ==;EndpointSuffix=core.windows.net" />-->
    <!--<add key="FromStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=nugetdevlegacy;AccountKey=kwbCaVM+AMAMV/RuA2yGTiCOsuTrvMDx2dr8U8GZDnu0cPbJ6wehucOFrHJ03Q8UJUfF9eB7bA34TcxGDG+7bA==;EndpointSuffix=core.windows.net" />-->
    <add key="FromStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=nugetint0;AccountKey=hDNLRk5iwECNldRhd9GmSwK/iYyXp8q2SAL0vqankBIKiCCG21j2F6LCHDhXzKnQbvr54UNtMKzF7NJ1gx56mw==;EndpointSuffix=core.windows.net"/>


    <add key="ToStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=cmanutest;AccountKey=cz6fdA4VlyMQlhZjWhcqs0SgvzDLch6L+6qzAjdoAUTWerJqynRbVmnm+H+2gUwPXb/QhI56grho4BqRlk7JKQ==;EndpointSuffix=core.windows.net" />
    <add key="StorageConnInt" value="DefaultEndpointsProtocol=https;AccountName=nugetint0;AccountKey=hDNLRk5iwECNldRhd9GmSwK/iYyXp8q2SAL0vqankBIKiCCG21j2F6LCHDhXzKnQbvr54UNtMKzF7NJ1gx56mw==;EndpointSuffix=core.windows.net"/>
    <add key="StorageConnectionStringDev" value="DefaultEndpointsProtocol=https;AccountName=nugetdevlegacy;AccountKey=kwbCaVM+AMAMV/RuA2yGTiCOsuTrvMDx2dr8U8GZDnu0cPbJ6wehucOFrHJ03Q8UJUfF9eB7bA34TcxGDG+7bA==;EndpointSuffix=core.windows.net" />
    <add key="StorageConnectionStringTest" value="DefaultEndpointsProtocol=https;AccountName=nugetdevlegacy;AccountKey=kwbCaVM+AMAMV/RuA2yGTiCOsuTrvMDx2dr8U8GZDnu0cPbJ6wehucOFrHJ03Q8UJUfF9eB7bA34TcxGDG+7bA==;EndpointSuffix=core.windows.net" />
    <add key="LogSqlServer" value="Data Source=szy5udivcd.database.windows.net; Initial Catalog=cmanutest; User ID=skofman;Password=NuGet1!@;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;" />
  </appSettings>
</configuration>
