@using WorldDomination.Web.Authentication.Mvc
<a class="oauth-signin oauth-signin-codeplex" href="@Url.RedirectToOAuthProvider("codeplex", ViewData[Constants.ReturnUrlViewDataKey] as string)">Sign In with a CodePlex account</a>