@using WorldDomination.Web.Authentication.Mvc
<a class="oauth-signin oauth-signin-github" href="@Url.RedirectToOAuthProvider("github", ViewData[Constants.ReturnUrlViewDataKey] as string)">Sign In with a GitHub account</a>