@using WorldDomination.Web.Authentication.Mvc
<a class="oauth-signin oauth-signin-twitter" href="@Url.RedirectToOAuthProvider("twitter", ViewData[Constants.ReturnUrlViewDataKey] as string)">Sign In with a Twitter account</a>