@using WorldDomination.Web.Authentication.Mvc
<a class="oauth-signin oauth-signin-wl" href="@Url.RedirectToOAuthProvider("windowslive", ViewData[Constants.ReturnUrlViewDataKey] as string)">Sign In with a Microsoft account</a>