<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--
    <add key="StorageAccountName" value="" />
    <add key="StorageAccountKey" value="" />
    <add key="ServiceBusNamespace" value="" />
    <add key="ServiceBusIssuerName" value="" />
    <add key="ServiceBusIssuerSecretKey" value="" />
    -->
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false" />
    
    <!-- indicates that requests are handled by Django -->
    <handlers>
      <add name="Django FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="INTERPRETERPATH|WFASTCGIPATH"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>