@model StatisticsPackagesViewModel
@if(Model.LastUpdatedUtc != null) {
    <div class="last-updated">
        Statistics last updated at @Model.LastUpdatedUtc.Value.ToNuGetShortDateTimeString() UTC.
    </div>
}