@model StatisticsPackagesViewModel
@if (Model.LastUpdatedUtc != null)
{
    <div class="last-updated">
        Statistics last updated <span data-datetime="@Model.LastUpdatedUtc.Value.ToString("O")">@Model.LastUpdatedUtc.Value.ToString("f")</span>.
    </div>
}