@model StatisticsPackagesViewModel
@if (Model.LastUpdatedUtc != null)
{
    <div class="last-updated col-xs-12">
        Statistics last updated at @Model.LastUpdatedUtc.Value.ToNuGetShortDateTimeString() UTC.
    </div>
}