@if (!User.Identity.IsAuthenticated)
{
    <div class="user-display">
        <span class="welcome"><a href="@Url.RouteUrl("SignIn", new { ReturnUrl = HttpContext.Current.Request.Url.ToString() })">Sign In</a></span>
    </div>
}
else
{
    <div class="user-display">
        <span class="welcome">@User.Identity.Name</span>
        <span class="user-actions">
            <a href="#">My Account</a>
            <a href="@Url.RouteUrl("SignOut", new { ReturnUrl = HttpContext.Current.Request.Url.ToString() })">Sign Out</a>
        </span>
    </div>
}