@if (!User.Identity.IsAuthenticated)
{
    <div class="user-display">
        <span class="welcome"><a href="@Url.LogOnUrl()">Log On</a></span>
    </div>
}
else
{
    <div class="user-display">
        <span class="welcome"><a href="#">@User.Identity.Name</a></span>
        <span class="user-actions">
            <a href="@Url.LogOffUrl()">Log Off</a>
        </span>
    </div>
}