@model PublishTestDriverWebSite.Models.ServiceErrorModel
@{
    ViewBag.Title = "Service Error";
}

<h1>Service Error</h1>

@if (Model.IsException)
{
    <p>Exception: @Model.Exception</p>
}
else
{
    <p>Http Status Code: @Model.StatusCode</p>
    <p>Error: @Model.Message</p>
}
