@model AccountViewModel
@{
    var parent = (WebViewPage)TempData["Parent"];
}

@foreach (var curatedFeed in Model.CuratedFeeds)
{
    @ViewHelpers.Section(parent,
        "curated-feed-" + curatedFeed,
        @<text>Curated Feed</text>,
        @<text>@curatedFeed</text>,
        @<text>
            <div class="row form-group">
                <div class="col-sm-6">
                    <button type="button" onclick="window.location.href = '@Url.CuratedFeed(curatedFeed)'" class="btn btn-primary form-control">
                        Manage
                    </button>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-default form-control" id="cancel-curated-feed-@curatedFeed">
                        Cancel
                    </button>
                </div>
            </div>
        </text>)
}