<div id="autocomplete-results-container" class="text-left" tabindex="0"></div>

<script type="text/html" id="autocomplete-results-row">
    <!-- ko if: $data -->
    <!-- ko if: $data.PackageRegistration -->
    <div class="col-sm-4 autocomplete-row-id">
        <a data-bind="attr: { id: $data.PackageRegistration.Id + '-column', href: '/packages/' + $data.PackageRegistration.Id, title: $data.PackageRegistration.Id }, text: $data.PackageRegistration.Id" tabindex="-1"></a>
    </div>
    <div class="col-sm-8 autocomplete-row-description">
        <span data-bind="text: $data.Description"></span>
    </div>
    <!-- /ko -->
    <!-- ko ifnot: $data.PackageRegistration -->
    <div class="col-sm-12 autocomplete-row-id">
        <a data-bind="attr: { id: $data + '-column', href: '/packages/' + $data, title: $data  }, text: $data" tabindex="-1"></a>
    </div>
    <!-- /ko -->
    <!-- /ko -->
</script>

<script type="text/html" id="autocomplete-results-template">
    <!-- ko if: $data.data.length > 0 -->
    <div data-bind="foreach: $data.data" id="autocomplete-results-list">
        <a data-bind="attr: { id: $data + '-column', href: '/packages/' + $data, title: $data }" tabindex="-1">
            <div data-bind="attr:{ id: 'autocomplete-container-' + $data }">
            </div>
        </a>
    </div>
    <!-- /ko -->
</script>
