<div class="license">
    <a href="http://outercurve.org"><img src="@Href("~/Content/Logos/outercurve.png")" alt="Outercurve Foundation" /></a>
    <p>
        &copy; @DateTime.UtcNow.Year Outercurve Foundation -
        <a href="~/policies/Terms">Terms of Use</a> -
        <a href="~/policies/Privacy">Privacy Policy</a>
    </p>
    <p>
        Uses <a href="http://fontawesome.io">Font Awesome</a> by Dave Gandy
    </p>
</div>
