<div class="user-display">
    @if (!User.Identity.IsAuthenticated)
    {
        string returnUrl = ViewData.ContainsKey(Constants.ReturnUrlViewDataKey) ? (string)ViewData[Constants.ReturnUrlViewDataKey] : Request.RawUrl;
        <span class="welcome">
            <a href="@Url.LogOn(returnUrl)" title="Register for an account or sign in with an existing account">Register / Sign in</a>
        </span>
    }
    else
    {
        <span class="welcome"><a href="@Url.Action("Account", "Users", new { area = "" })">@(User.Identity.Name)</a></span>
        <text>/</text>
        <span class="user-actions">
            <a href="@Url.LogOff()">Sign out</a>
        </span>
    }
</div>