<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <clear />
    <add key="nuget-build" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/nuget-build/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="nuget-build">
      <package pattern="nuget.*" />
      <package pattern="nugetgallery.core" />
      <package pattern="system.*" />
      <package pattern="test.utility" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="antlr" />
      <package pattern="autofac" />
      <package pattern="autofac.extensions.dependencyinjection" />
      <package pattern="azure.core" />
      <package pattern="azure.identity" />
      <package pattern="azure.search.documents" />
      <package pattern="castle.core" />
      <package pattern="dapper.strongname" />
      <package pattern="dotnetrdf" />
      <package pattern="entityframework" />
      <package pattern="envdte" />
      <package pattern="envdte100" />
      <package pattern="envdte80" />
      <package pattern="envdte90" />
      <package pattern="envdte90a" />
      <package pattern="fluentassertions" />
      <package pattern="htmlagilitypack" />
      <package pattern="libgit2sharp" />
      <package pattern="libgit2sharp.nativebinaries" />
      <package pattern="markdig.signed" />
      <package pattern="messagepack" />
      <package pattern="messagepack.annotations" />
      <package pattern="microbuild.core" />
      <package pattern="microsoft.*" />
      <package pattern="mono.posix.netstandard" />
      <package pattern="moq" />
      <package pattern="nerdbank.streams" />
      <package pattern="netstandard.library" />
      <package pattern="newtonsoft.json" />
      <package pattern="nuget.build.tasks.pack" />
      <package pattern="nuget.common" />
      <package pattern="nuget.configuration" />
      <package pattern="nuget.frameworks" />
      <package pattern="nuget.packaging" />
      <package pattern="nuget.protocol" />
      <package pattern="nuget.versioning" />
      <package pattern="owin" />
      <package pattern="portable.bouncycastle" />
      <package pattern="runtime.*" />
      <package pattern="serilog" />
      <package pattern="serilog.enrichers.environment" />
      <package pattern="serilog.enrichers.process" />
      <package pattern="serilog.extensions.logging" />
      <package pattern="serilog.sinks.applicationinsights" />
      <package pattern="serilog.sinks.console" />
      <package pattern="serilog.sinks.file" />
      <package pattern="serilogtracelistener" />
      <package pattern="sharpziplib" />
      <package pattern="stdole" />
      <package pattern="streamjsonrpc" />
      <package pattern="system.*" />
      <package pattern="uaparser" />
      <package pattern="vds.common" />
      <package pattern="vslangproj" />
      <package pattern="vslangproj100" />
      <package pattern="vslangproj110" />
      <package pattern="vslangproj140" />
      <package pattern="vslangproj150" />
      <package pattern="vslangproj157" />
      <package pattern="vslangproj158" />
      <package pattern="vslangproj165" />
      <package pattern="vslangproj2" />
      <package pattern="vslangproj80" />
      <package pattern="vslangproj90" />
      <package pattern="webgrease" />
      <package pattern="windowsazure.servicebus" />
      <package pattern="windowsazure.storage" />
      <package pattern="xunit" />
      <package pattern="xunit.*" />
    </packageSource>
  </packageSourceMapping>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>