<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotNetRDF" version="1.0.7.3471" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.7" targetFramework="net45" />
  <package id="PowerArgs" version="2.5.0.0" targetFramework="net45" />
  <package id="VDS.Common" version="1.4.0" targetFramework="net45" />
</packages>