@model PublishTestDriverWebSite.Models.PublishModel
@{
    ViewBag.Title = "Validate";
}

<h1>Validation Tests</h1>

@using (Html.BeginForm("CheckAccess", "Validate", FormMethod.Post, new { id = "checkAccessForm", enctype = "multipart/form-data" }))
{
    <fieldset class="form">

        Registration Id:
        <select name="baseId">
        @foreach (var domain in Model.Domains)
        {
            <option value="@domain">@domain</option>
        }
        </select>
        <span style="font-size:large">/</span>
        <input type="text" name="relativeId" />
        &nbsp;&nbsp;
        <input type="submit" value="Check this Id is Available to Me" />

    </fieldset>
}
