<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights" version="2.1.0-beta4" targetFramework="net451" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net451" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net451" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Logging" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net451" />
  <package id="NuGet.Services.Logging" version="2.0.0-rc2-1" targetFramework="net451" />
  <package id="Serilog" version="2.0.0-rc-563" targetFramework="net451" />
  <package id="Serilog.Enrichers.Environment" version="2.0.0-rc-708" targetFramework="net451" />
  <package id="Serilog.Extensions.Logging" version="1.0.0-rc2-10104" targetFramework="net451" />
  <package id="Serilog.Sinks.ApplicationInsights" version="2.0.28" targetFramework="net451" />
  <package id="Serilog.Sinks.ColoredConsole" version="2.0.0-beta-700" targetFramework="net451" />
  <package id="SerilogTraceListener" version="1.0.15" targetFramework="net451" />
  <package id="System.Collections" version="4.0.11-rc2-24027" targetFramework="net451" />
  <package id="System.Collections.Concurrent" version="4.0.12-rc2-24027" targetFramework="net451" />
  <package id="System.ComponentModel" version="4.0.1-rc2-24027" targetFramework="net451" />
  <package id="System.Diagnostics.Debug" version="4.0.11-rc2-24027" targetFramework="net451" />
  <package id="System.Globalization" version="4.0.11-rc2-24027" targetFramework="net451" />
  <package id="System.Linq" version="4.1.0-rc2-24027" targetFramework="net451" />
  <package id="System.Linq.Expressions" version="4.0.11-rc2-24027" targetFramework="net451" />
  <package id="System.Reflection" version="4.1.0-rc2-24027" targetFramework="net451" />
  <package id="System.Resources.ResourceManager" version="4.0.1-rc2-24027" targetFramework="net451" />
  <package id="System.Runtime.Extensions" version="4.1.0-rc2-24027" targetFramework="net451" />
  <package id="System.Runtime.InteropServices" version="4.1.0-rc2-24027" targetFramework="net451" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net451" />
  <package id="System.Threading" version="4.0.11-rc2-24027" targetFramework="net451" />
  <package id="WindowsAzure.Storage" version="7.0.0" targetFramework="net451" />
</packages>