@model ConfirmationViewModel

@using (Html.BeginForm("ConfirmationRequired", "Users"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <input type="submit" class="btn btn-primary form-control" value="Resend Confirmation Email" />
    </div>
}
<p class="text-center">Is @Model.UnconfirmedEmailAddress incorrect? <span class="ms-noWrap">@Html.ActionLink("Change your email", "Account", "Users")</span></p>