@model UserAccountViewModel
@{
    var parent = (WebViewPage)TempData["Parent"];
}

@ViewHelpers.Section(parent,
    "create-external-credential",
    @<text>Login Account</text>,
    @<text>
        @if (Config.Current.DeprecateNuGetPasswordLogins)
        {
           <span class="ms-Icon ms-Icon--Warning warning-icon" title="@Strings.PasswordLoginDeprecated" aria-hidden="true"></span>
        }
        Microsoft account
    </text>,
        @<text>
            <p>Please link your Microsoft account to sign in to @(Config.Current.Brand).</p>

            @using (Html.BeginForm("LinkOrChangeExternalCredential", "Users"))
            {
                @Html.AntiForgeryToken()

                <div class="row form-group">
                    <div class="col-sm-6">
                        <button class="btn btn-brand-danger btn-block" type="submit"
                                data-confirm="This action will replace your password login with the new Microsoft login account. Are you sure you want to change your login account?">
                            Link Microsoft Account
                        </button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-brand-secondary btn-block" id="cancel-create-external-credential">
                            Cancel
                        </button>
                    </div>
                </div>
            }
        </text>)