@{
    ViewBag.Title = "Transform Account";
    ViewBag.MdPageColumns = Constants.ColumnsFormMd;
    Layout = "~/Views/Shared/Gallery/Layout.cshtml";
}

<section role="main" class="container main-container page-api-keys">
    <div class="row">
        <h1>
            Transform Account: Failed
        </h1>
        @if (TempData.ContainsKey("TransformError"))
        {
            @ViewHelpers.AlertWarning(@<text>@TempData["TransformError"]</text>)
        }
    </div>
</section>