@{
    ViewBag.Title = "Confirmation Required";
}

<h2>Confirm Your Email Address</h2>

<p class="long note">
    You must confirm your email address before you can @((string)TempData["Act"]). 
    Please check your spam folder if you did not receive the confirmation email.
</p>

@using (Html.BeginForm())
{
    <fieldset class="form">
        <legend>Confirm Email Address</legend>
        @Html.AntiForgeryToken()

        <input type="submit" value="Send Confirmation Email" title="Send Confirmation Email" />
        <p>
            @Html.ActionLink("Wrong Email Address?", "Edit", "Users")<br />
            @Html.ActionLink("Lost your confirmation email?", "ResendConfirmation", "Users")</p>
    </fieldset>
}
