@model ConfirmationViewModel
@{
    ViewBag.Title = "Confirmation Required";
}

@if (Model.SentEmail)
{
    <h2>Confirmation Email Sent!</h2>
}
else
{
    <h2>Confirm Account</h2>

    <p class="long note">
        You must verify your email address before you can @(Model.DoAction ?? "upload packages").
    </p>

    using (Html.BeginForm())
    {
        <fieldset class="form">
            <legend>Verify Email Address</legend>
            @Html.AntiForgeryToken()

            @* make it look like a form field even though it isn't exactly *@
            <div class="form-field">
                <p>
                Confirmation email will be sent to: <u>@(Model.UnconfirmedEmailAddress)</u>
                @Html.ActionLink("(change)", "Edit", "Users")<br />
                </p>
            </div>

            <input type="submit" value="Send Confirmation Email" title="Send Confirmation Email" style="width: auto;" />

        </fieldset>
    }
}

<h3>Problems with your confirmation email?</h3>

<p>
    Please check your spam folder if you did not receive the confirmation email.
</p>