@model ManagePackagesViewModel
@{
    ViewBag.Title = "Manage My Package";
    ViewBag.Tab = "Packages";
    Layout = "~/Views/Shared/Gallery/Layout.cshtml";
}

<section role="main" class="container main-container page-manage-packages page-package-details">
    <h1>Manage Packages</h1>
    @if (Model.Packages.Any())
            {
                var listedPackages = Model.Packages.Where(p => p.Listed);
                var unlistedPackages = Model.Packages.Where(p => !p.Listed);

                if (listedPackages.Any())
                {
            @Html.Partial("_UserPackagesList", new ManagePackagesListViewModel(listedPackages, "Published"))
        }
        if (unlistedPackages.Any())
        {
            @Html.Partial("_UserPackagesList", new ManagePackagesListViewModel(unlistedPackages, "Unlisted"))
        }
    }
    else
    {
        <h2>My Packages</h2>
                <p>You have no packages.</p>
    }
</section>

@section BottomScripts {
    @Scripts.Render("~/Scripts/gallery/page-manage-packages.min.js")
}
