<h1 class="page-heading">Password changed!</h1>

@if(Request.IsAuthenticated) {
    <p class="message">Your NuGet.org account password has been set and can now be used to sign in!</p>
} else {
    <p class="message">
        Don't forget to use your new password the next time you 
        <a href="@Url.LogOn()">sign in</a>. 
    </p>
}