@{
    ViewBag.Title = "Password Reset";
}


<h1 class="page-heading">Password Reset Sent</h1>


<p>
    We've sent an email 
    @if (!String.IsNullOrEmpty(ViewBag.Email))
    {
        @:to @ViewBag.Email
    }
    else
    {
        @:to you
    } 
    containing a temporary url that will allow you to reset your NuGet.org account password for 
    the next @ViewBag.Expiration hours. 
</p>
<p>
    Please check your spam folder if you don't receive the email within a 
    few minutes.
</p>