@{
    ViewBag.Title = "Password reset";
    ViewBag.SmPageColumns = GalleryConstants.ColumnsAuthenticationSm;
    ViewBag.MdPageColumns = GalleryConstants.ColumnsAuthenticationMd;
}

<section role="main" class="container main-container">
    <div class="@ViewHelpers.GetColumnClasses(ViewBag) text-center">
        <h1>Password reset sent</h1>

        <p>
            We've sent you an email containing a temporary URL that will allow you to reset your NuGet.org
            account password for the next @if (@ViewBag.Expiration == 1)
            {
                <text>hour.</text>
            }
            else
            {
                <text>@ViewBag.Expiration hours.</text>
            }
        </p>
        <p>
            Please check your spam folder if you don't receive the email within a
            few minutes.
        </p>
    </div>
</section>