@{
    ViewBag.Title = "Password changed";
    ViewBag.SmPageColumns = GalleryConstants.ColumnsAuthenticationSm;
    ViewBag.MdPageColumns = GalleryConstants.ColumnsAuthenticationMd;
}

<section role="main" class="container main-container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Password changed!</h1>
        </div>
    </div>

    <div class="row">
        <div class="@ViewHelpers.GetColumnClasses(ViewBag) text-center">
            @if (Request.IsAuthenticated)
            {
                <p>Your NuGet.org account password has been set and can now be used to sign in!</p>
            }
            else
            {
                <p>
                    Don't forget to use your new password the next time you
                    <a href="@Url.LogOn()">sign in</a>.
                </p>
            }
        </div>
    </div>
</section>