@{
    ViewBag.Title = "Thanks";
}

<h1 class="page-heading">
    Thanks for registering!
</h1>

<h2>Now that you have an account you might like to...</h2>

<ul>
    <li>
        <p>
            Set up your <a href="@Url.Action(MVC.Users.Edit())">user profile</a>.
        </p>
    </li>

    <li>
        <p>
            Click on <em>Upload Package</em> in the menu to start uploading packages.
        </p>
    </li>
    
    <li>
        <p>
            Contact the owners of a package with a question. You can do this from the package page.
        </p>
    </li>

    <li>
        <p>
            Look up your <a href="@Url.Action(MVC.Users.Account())">API Key</a> for use with nuget.exe.<br />
        </p>
    </li>
</ul>

<p>
    Note: you will need to <a href="@Url.ConfirmationRequired()">confirm your account</a> before you can use an API key to push packages.
</p>