@{
    ViewBag.Title = "Thanks";
}

<h1 class="page-heading">
    Thank you for registering!
</h1>

<h2><a href="@Url.Action("Account", "Users")">View Profile</a></h2>

<h2>Now that you have an account you might like to...</h2>

<ul>
    <li>
        <p>
            <a href="@Url.ConfirmationRequired()">Confirm your account</a> so that you can upload packages or contact package owners.
        </p>
    </li>

    <li>
        <p>
            <a href="@Url.UploadPackage()">Upload a package</a>.
        </p>
    </li>
</ul>
