@{
    ViewBag.Title = "Thanks";
}

<h1 class="page-heading">
    Thanks for registering!
</h1>

<h2>You might like to...</h2>

<ul>
    <li>
        <p>
            Click <span class="welcome"><a href="@Url.Action(MVC.Users.Edit())">here</a></span> to set up your user profile.
        </p>
    </li>

    <li>
        <p>
            Click on <em>Upload package</em> in the menu to start uploading packages.
        </p>
    </li>
</ul>