<h1 class="page-heading">Cookie Monsters?</h1>
<p>Sorry, something seems to have gone wrong. You should be all signed in and everything, but we seem to have lost your 
    <a href="http://en.wikipedia.org/wiki/HTTP_cookie">cookie</a>. Please check that cookies are enabled in your browser
    for nuget.org, and then <a href="@Url.LogOn()">sign in</a> using your username and password.
    Or you can <a href="@((string)ViewData[Constants.ReturnUrlViewDataKey])" >continue using the site without signing in</a>, 
    but you won't be able to upload packages or use other features which require your identity.
</p>