.json-ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.json-li
{
    padding-left: 28px; 
    font-family:Consolas;
    font-size:small;
}
.json-prop-name {
    color: blue;
}
.json-prop-value-string {
    color: red;
}