<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textLogListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="validation.runner.log"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
