@model PublishTestDriverWebSite.Models.PublishModel
@{
    ViewBag.Title = "Publish";
}

<h1>Upload Page</h1>

@using (Html.BeginForm("Upload", "Upload", FormMethod.Post, new { id = "uploadForm", enctype = "multipart/form-data" }))
{
    <fieldset class="form">

        <div class="form-field">
            
            <p>
                <input type="file" name="UploadFile" />
            </p>

            <p>
                Publish to:
                <select name="access">
                    <option value="public">Public</option>
                    <option value="tenant">Just My Tenant</option>
                </select>
            </p>

            <p>
                With initial state: 
                <select name="visibility">
                    <option value="visible">Visible</option>
                    <option value="hidden">Hidden</option>
                </select>
            </p>

        </div>

        <input type="submit" value="Upload" title="Upload the package." />

    </fieldset>
}
