<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Custom">
      <!-- Require this to prevent custom error pages from being served -->
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
    </httpErrors>
  </system.webServer>
</configuration>
