<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="GalleryUrl" value="https://staging.nuget.org/" />
    <!-- Add "https://preview.nuget.org/" to point to preview and "https://staging.nuget.org/" to point to staging-->
  </appSettings>
</configuration>