<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="CodeAnalysis" ToolsVersion="10.0">
  <Include Path="basiccorrectnessrules.ruleset" Action="Default" />
  <Include Path="basicdesignguidelinerules.ruleset" Action="Default" />
  <Include Path="extendedcorrectnessrules.ruleset" Action="Default" />
  <Include Path="globalizationrules.ruleset" Action="Default" />
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Include Path="securityrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1000" Action="None" />
    <Rule Id="CA1001" Action="None" />
    <Rule Id="CA1002" Action="None" />
    <Rule Id="CA1003" Action="None" />
    <Rule Id="CA1004" Action="None" />
    <Rule Id="CA1005" Action="None" />
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1007" Action="None" />
    <Rule Id="CA1008" Action="None" />
    <Rule Id="CA1009" Action="None" />
    <Rule Id="CA1010" Action="None" />
    <Rule Id="CA1011" Action="None" />
    <Rule Id="CA1012" Action="None" />
    <Rule Id="CA1013" Action="None" />
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1016" Action="None" />
    <Rule Id="CA1017" Action="None" />
    <Rule Id="CA1018" Action="None" />
    <Rule Id="CA1019" Action="None" />
    <Rule Id="CA1023" Action="None" />
    <Rule Id="CA1024" Action="None" />
    <Rule Id="CA1025" Action="None" />
    <Rule Id="CA1026" Action="None" />
    <Rule Id="CA1027" Action="None" />
    <Rule Id="CA1028" Action="None" />
    <Rule Id="CA1030" Action="None" />
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1032" Action="None" />
    <Rule Id="CA1033" Action="None" />
    <Rule Id="CA1034" Action="None" />
    <Rule Id="CA1035" Action="None" />
    <Rule Id="CA1036" Action="None" />
    <Rule Id="CA1038" Action="None" />
    <Rule Id="CA1039" Action="None" />
    <Rule Id="CA1041" Action="None" />
    <Rule Id="CA1043" Action="None" />
    <Rule Id="CA1044" Action="None" />
    <Rule Id="CA1046" Action="None" />
    <Rule Id="CA1047" Action="None" />
    <Rule Id="CA1048" Action="None" />
    <Rule Id="CA1049" Action="None" />
    <Rule Id="CA1050" Action="None" />
    <Rule Id="CA1051" Action="None" />
    <Rule Id="CA1052" Action="None" />
    <Rule Id="CA1053" Action="None" />
    <Rule Id="CA1054" Action="None" />
    <Rule Id="CA1055" Action="None" />
    <Rule Id="CA1056" Action="None" />
    <Rule Id="CA1057" Action="None" />
    <Rule Id="CA1058" Action="None" />
    <Rule Id="CA1059" Action="None" />
    <Rule Id="CA1060" Action="None" />
    <Rule Id="CA1061" Action="None" />
    <Rule Id="CA1063" Action="None" />
    <Rule Id="CA1064" Action="None" />
    <Rule Id="CA1065" Action="None" />
    <Rule Id="CA1400" Action="None" />
    <Rule Id="CA1401" Action="None" />
    <Rule Id="CA1402" Action="None" />
    <Rule Id="CA1403" Action="None" />
    <Rule Id="CA1404" Action="None" />
    <Rule Id="CA1405" Action="None" />
    <Rule Id="CA1406" Action="None" />
    <Rule Id="CA1407" Action="None" />
    <Rule Id="CA1408" Action="None" />
    <Rule Id="CA1409" Action="None" />
    <Rule Id="CA1410" Action="None" />
    <Rule Id="CA1411" Action="None" />
    <Rule Id="CA1412" Action="None" />
    <Rule Id="CA1413" Action="None" />
    <Rule Id="CA1414" Action="None" />
    <Rule Id="CA1415" Action="None" />
    <Rule Id="CA2210" Action="None" />
    <Rule Id="CA2214" Action="None" />
    <Rule Id="CA2227" Action="None" />
  </Rules>
</RuleSet>