<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicData.EFCodeFirstProvider" version="0.2" />
  <package id="elmah" version="1.2.0.1" />
  <package id="Elmah.Contrib.Mvc" version="1.0" />
  <package id="elmah.corelibrary" version="1.2" />
  <package id="elmah.sqlserver" version="1.2" />
  <package id="EntityFramework" version="4.1.10715.0" />
  <package id="jQuery" version="1.6.2" />
  <package id="jQuery.Validation" version="1.8.1" />
  <package id="MigratorDotNet" version="0.9.0.28138" />
  <package id="MiniProfiler" version="1.7" />
  <package id="MiniProfiler.MVC3" version="1.7" />
  <package id="MvcHaack.Ajax" version="1.0" />
  <package id="Ninject" version="2.2.1.4" />
  <package id="Ninject.MVC3" version="2.2.2.0" />
  <package id="NuGet.Core" version="1.4.20615.9012" />
  <package id="ODataNullPropagationVisitor" version="0.5.4237.2641" />
  <package id="QueryInterceptor" version="0.1.4237.2400" />
  <package id="RouteMagic" version="1.1.1" />
  <package id="T4MVC" version="2.6.62" />
  <package id="WebActivator" version="1.4.2" />
</packages>