<?xml version="1.0"?>
<configuration>
    <system.web>
      <httpHandlers>
        <add path="*.config" verb="*" type="System.Web.HttpForbiddenHandler" />
        <add path="*.rules" verb="*" type="System.Web.HttpForbiddenHandler" />
        <add path="*.resources" verb="*" type="System.Web.HttpForbiddenHandler" />
      </httpHandlers>
    </system.web>
</configuration>
