@model FeatureFlagsViewModel
@{
    ViewBag.Title = "Feature Flags";
}

<section role="main" class="container main-container page-revalidation">
    <div class="row">
        <div class="col-xs-12">
            <h1>Feature flags</h1>

            <div class="form-group danger-zone">
                <text>
                    @using (Html.BeginForm("Update", "Features", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <input type="hidden" name="contentId" value="@Model.ContentId" />

                        <div class="form-group">
                            <label for="Flags">JSON</label>
                            <textarea aria-labelledby="flags-label" aria-required="true" class="form-control" cols="50" rows="30" name="Flags">@Model.Flags</textarea>
                        </div>

                        <div class="form-group">
                            <input id="Submit" type="submit" class="btn btn-primary form-control" value="Save" />
                        </div>
                    }
                </text>
            </div>
        </div>
    </div>
</section>