<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NuGet.Common" version="3.4.0-beta-632" targetFramework="net452" />
  <package id="NuGet.Frameworks" version="3.4.0-beta-632" targetFramework="net452" />
  <package id="NuGet.Logging" version="3.4.0-beta-632" targetFramework="net452" />
  <package id="NuGet.Packaging" version="3.4.0-beta-632" targetFramework="net452" />
  <package id="NuGet.Packaging.Core" version="3.4.0-beta-632" targetFramework="net452" />
  <package id="NuGet.Packaging.Core.Types" version="3.4.0-beta-632" targetFramework="net452" />
  <package id="NuGet.Services.Build" version="3.0.13" targetFramework="net452" developmentDependency="true" />
  <package id="NuGet.Versioning" version="3.4.0-beta-632" targetFramework="net452" />
</packages>