<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAutomation.Core" version="2.3.0.1" targetFramework="net45" />
  <package id="FluentAutomation.SeleniumWebDriver" version="2.3.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="Selenium.Support" version="2.40.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.40.0" targetFramework="net45" />
</packages>